### 1437
openapi: 3.0.3
info:
  title: RNGE API
  version: 1.0.0
  license:
    name: Copyright (C) Rednaxel Informática
    url: 'https://rednaxel.com'
  termsOfService: 'https://rednaxel.com/termos-de-uso'
  contact:
    name: Suporte
    email: suporte@rednaxel.com
    url: 'https://suporte.rednaxel.com'
  x-logo:
    url: 'https://storage.googleapis.com/rednaxel-dados/rednaxel-264.png'
    altText: Logo da Rednaxel

servers:
  - url: "https://homolog.rnge.com.br/v2"
    description: Homologação
  - url: "https://rnge.com.br/v2"
    description: Produção

components:
  parameters:
    Filter:
      name: filter
      in: query
      required: false
      schema:
        type: string
      description: Filtros
    Range:
      name: range
      in: query
      schema:
        minItems: 1
        maxItems: 2
        items:
          type: integer
          format: int32
        default: '[0,99]'
        example: '[0,99]'
      description: Paginação
      explode: true
      style: form
      required: true
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            desc:
              type: string
      description: Ordenação
  securitySchemes:
    TokenAcesso:
      type: http
      scheme: bearer
      description: ''

security:
  - TokenAcesso: []

tags:
  - name: Accesscards
    description: Accesscards
  - name: Accessgroups
    description: Accessgroups
  - name: Accounts
    description: Accounts
  - name: Addresses
    description: Addresses
  - name: Addresstypes
    description: Addresstypes
  - name: Approvals
    description: Approvals
  - name: Auditlogs
    description: Auditlogs
  - name: Bankaccounts
    description: Bankaccounts
  - name: Bankcollections
    description: Bankcollections
  - name: Banks
    description: Banks
  - name: Bankstatements
    description: Bankstatements
  - name: Barcodes
    description: Barcodes
  - name: Baseactivities
    description: Baseactivities
  - name: Baseprocesses
    description: Baseprocesses
  - name: Batches
    description: Batches
  - name: Billings
    description: Billings
  - name: Billingstatements
    description: Billingstatements
  - name: Bizhours
    description: Bizhours
  - name: Bizschedules
    description: Bizschedules
  - name: Boletocommands
    description: Boletocommands
  - name: Boletos
    description: Boletos
  - name: Brands
    description: Brands
  - name: Buildings
    description: Buildings
  - name: Bulkdeals
    description: Bulkdeals
  - name: Bulkhandlings
    description: Bulkhandlings
  - name: Bulkpersons
    description: Bulkpersons
  - name: Bulkpurchases
    description: Bulkpurchases
  - name: Bulkreceivables
    description: Bulkreceivables
  - name: Bulksalesitems
    description: Bulksalesitems
  - name: Bulkstocks
    description: Bulkstocks
  - name: Bulkvouchers
    description: Bulkvouchers
  - name: Buyers
    description: Buyers
  - name: Cachetables
    description: Cachetables
  - name: Campaignitems
    description: Campaignitems
  - name: Campaigns
    description: Campaigns
  - name: Carriers
    description: Carriers
  - name: Cashbalanceadjustments
    description: Cashbalanceadjustments
  - name: Cashbalances
    description: Cashbalances
  - name: Cashiers
    description: Cashiers
  - name: Cashierstats
    description: Cashierstats
  - name: Cataloglevels
    description: Cataloglevels
  - name: Catalogs
    description: Catalogs
  - name: Categories
    description: Categories
  - name: Categorylinks
    description: Categorylinks
  - name: Cbenefs
    description: Cbenefs
  - name: Certificates
    description: Certificates
  - name: Channelfreights
    description: Channelfreights
  - name: Channelpriceconfigs
    description: Channelpriceconfigs
  - name: Channels
    description: Channels
  - name: Chartconfigs
    description: Chartconfigs
  - name: Charts
    description: Charts
  - name: Cities
    description: Cities
  - name: Citydistricts
    description: Citydistricts
  - name: Citytaxes
    description: Citytaxes
  - name: Closings
    description: Closings
  - name: Cnaes
    description: Cnaes
  - name: Commissiontypes
    description: Commissiontypes
  - name: Companies
    description: Companies
  - name: Contacttypes
    description: Contacttypes
  - name: Contractrun
    description: Contractrun
  - name: Contracts
    description: Contracts
  - name: Costcenters
    description: Costcenters
  - name: Coupons
    description: Coupons
  - name: Covenants
    description: Covenants
  - name: Crmtags
    description: Crmtags
  - name: Cstinvoices
    description: Cstinvoices
  - name: Csts
    description: Csts
  - name: Csvexports
    description: Csvexports
  - name: Csvimporterrors
    description: Csvimporterrors
  - name: Csvimports
    description: Csvimports
  - name: Currencies
    description: Currencies
  - name: Curves
    description: Curves
  - name: Customercategories
    description: Customercategories
  - name: Customercontacts
    description: Customercontacts
  - name: Customeremails
    description: Customeremails
  - name: Customernotes
    description: Customernotes
  - name: Customerphones
    description: Customerphones
  - name: Customerpoints
    description: Customerpoints
  - name: Customertransactions
    description: Customertransactions
  - name: Dailyclosings
    description: Dailyclosings
  - name: Dailyreceivables
    description: Dailyreceivables
  - name: Dashboardmetrics
    description: Dashboardmetrics
  - name: Dashboards
    description: Dashboards
  - name: Deals
    description: Deals
  - name: Dealtypes
    description: Dealtypes
  - name: Deliveries
    description: Deliveries
  - name: Deliverytypes
    description: Deliverytypes
  - name: Dfebatches
    description: Dfebatches
  - name: Distriborders
    description: Distriborders
  - name: Distribrefillitems
    description: Distribrefillitems
  - name: Distribrefills
    description: Distribrefills
  - name: Distribskus
    description: Distribskus
  - name: Distribtypes
    description: Distribtypes
  - name: Distributions
    description: Distributions
  - name: Documenttypes
    description: Documenttypes
  - name: Emails
    description: Emails
  - name: Emailtemplatefields
    description: Emailtemplatefields
  - name: Emailtemplates
    description: Emailtemplates
  - name: Emailtemplatetypes
    description: Emailtemplatetypes
  - name: Events
    description: Events
  - name: Expensecategories
    description: Expensecategories
  - name: Expenses
    description: Expenses
  - name: Expenseskus
    description: Expenseskus
  - name: Freightbillbalances
    description: Freightbillbalances
  - name: Freightbillitems
    description: Freightbillitems
  - name: Freightbills
    description: Freightbills
  - name: Freightregions
    description: Freightregions
  - name: Freightzones
    description: Freightzones
  - name: Fulfillments
    description: Fulfillments
  - name: Funnelstages
    description: Funnelstages
  - name: Futureprices
    description: Futureprices
  - name: Giftcards
    description: Giftcards
  - name: Grouplevels
    description: Grouplevels
  - name: Groupmemberauths
    description: Groupmemberauths
  - name: Groupmembers
    description: Groupmembers
  - name: Handlingitems
    description: Handlingitems
  - name: Handlings
    description: Handlings
  - name: Helpmenuitems
    description: Helpmenuitems
  - name: Helppages
    description: Helppages
  - name: Holidays
    description: Holidays
  - name: Ibptaxes
    description: Ibptaxes
  - name: Importadditionitems
    description: Importadditionitems
  - name: Importadditions
    description: Importadditions
  - name: Importadditiontaxes
    description: Importadditiontaxes
  - name: Importfees
    description: Importfees
  - name: Imports
    description: Imports
  - name: Incompleteopenings
    description: Incompleteopenings
  - name: Installmentplans
    description: Installmentplans
  - name: Installments
    description: Installments
  - name: Integrationconfigs
    description: Integrationconfigs
  - name: Integrationexports
    description: Integrationexports
  - name: Integrationoptions
    description: Integrationoptions
  - name: Integrationresponses
    description: Integrationresponses
  - name: Integrations
    description: Integrations
  - name: Integrationstatus
    description: Integrationstatus
  - name: Integrationtypes
    description: Integrationtypes
  - name: Integrationvendors
    description: Integrationvendors
  - name: Invoiceevents
    description: Invoiceevents
  - name: Invoicefixes
    description: Invoicefixes
  - name: Invoiceitems
    description: Invoiceitems
  - name: Invoicepayments
    description: Invoicepayments
  - name: Invoices
    description: Invoices
  - name: Invoicetypes
    description: Invoicetypes
  - name: Issuers
    description: Issuers
  - name: Kanbanconfigs
    description: Kanbanconfigs
  - name: Kanbanitems
    description: Kanbanitems
  - name: Kanbanlanes
    description: Kanbanlanes
  - name: Kanbanlanetypes
    description: Kanbanlanetypes
  - name: Kanbanmenuactions
    description: Kanbanmenuactions
  - name: Kanbanmenuitems
    description: Kanbanmenuitems
  - name: Kanbans
    description: Kanbans
  - name: Kardexes
    description: Kardexes
  - name: Keyboardpayments
    description: Keyboardpayments
  - name: Keyboards
    description: Keyboards
  - name: Labeljobs
    description: Labeljobs
  - name: Labels
    description: Labels
  - name: Leadreasons
    description: Leadreasons
  - name: Leads
    description: Leads
  - name: Leadstages
    description: Leadstages
  - name: Leadstatuses
    description: Leadstatuses
  - name: Locationlabels
    description: Locationlabels
  - name: Logout
    description: Logout
  - name: Logs
    description: Logs
  - name: Loyaltyprograms
    description: Loyaltyprograms
  - name: Menu
    description: Menu
  - name: Menuitems
    description: Menuitems
  - name: Menureports
    description: Menureports
  - name: Metrics
    description: Metrics
  - name: Metricseries
    description: Metricseries
  - name: Monthlysales
    description: Monthlysales
  - name: Movements
    description: Movements
  - name: Myplans
    description: Myplans
  - name: Notificationconfigs
    description: Notificationconfigs
  - name: Notifications
    description: Notifications
  - name: Operationconfigs
    description: Operationconfigs
  - name: Operations
    description: Operations
  - name: Order5929
    description: Order5929
  - name: Ordercheckitems
    description: Ordercheckitems
  - name: Orderflags
    description: Orderflags
  - name: Orderflows
    description: Orderflows
  - name: Orderimport
    description: Orderimport
  - name: Orderintegrations
    description: Orderintegrations
  - name: Orderitems
    description: Orderitems
  - name: Orderlabels
    description: Orderlabels
  - name: Ordermargins
    description: Ordermargins
  - name: Ordernotes
    description: Ordernotes
  - name: Orderobjects
    description: Orderobjects
  - name: Orderorigins
    description: Orderorigins
  - name: Orderpatches
    description: Orderpatches
  - name: Orderpaymentlists
    description: Orderpaymentlists
  - name: Orderpayments
    description: Orderpayments
  - name: Orders
    description: Orders
  - name: Orderstatus
    description: Orderstatus
  - name: Ordertrackings
    description: Ordertrackings
  - name: Ordervolumes
    description: Ordervolumes
  - name: Overdues
    description: Overdues
  - name: Packages
    description: Packages
  - name: Parameters
    description: Parameters
  - name: Payables
    description: Payables
  - name: Payablesaggs
    description: Payablesaggs
  - name: Paymentcodes
    description: Paymentcodes
  - name: Paymenttypes
    description: Paymenttypes
  - name: Pdflayouts
    description: Pdflayouts
  - name: Pdvparameters
    description: Pdvparameters
  - name: Personmargins
    description: Personmargins
  - name: Personproducts
    description: Personproducts
  - name: Personprofiles
    description: Personprofiles
  - name: Persons
    description: Persons
  - name: Phases
    description: Phases
  - name: Phonetypes
    description: Phonetypes
  - name: Pickingqueues
    description: Pickingqueues
  - name: Pickingzones
    description: Pickingzones
  - name: Pixcharges
    description: Pixcharges
  - name: Pixstatuses
    description: Pixstatuses
  - name: Planpaymentmethods
    description: Planpaymentmethods
  - name: Portfoliocustomers
    description: Portfoliocustomers
  - name: Portfolios
    description: Portfolios
  - name: Poslayoutkeys
    description: Poslayoutkeys
  - name: Postalcodes
    description: Postalcodes
  - name: Posterfields
    description: Posterfields
  - name: Posterjobs
    description: Posterjobs
  - name: Posters
    description: Posters
  - name: Postersizes
    description: Postersizes
  - name: Pricelistarticles
    description: Pricelistarticles
  - name: Pricelistcategories
    description: Pricelistcategories
  - name: Pricelists
    description: Pricelists
  - name: Priceroundingrules
    description: Priceroundingrules
  - name: Pricerules
    description: Pricerules
  - name: Productcategories
    description: Productcategories
  - name: Productimages
    description: Productimages
  - name: Products
    description: Products
  - name: Producttags
    description: Producttags
  - name: Prospects
    description: Prospects
  - name: Providers
    description: Providers
  - name: Purchaseitems
    description: Purchaseitems
  - name: Purchaseitemtaxes
    description: Purchaseitemtaxes
  - name: Purchasemappings
    description: Purchasemappings
  - name: Purchaseorderitems
    description: Purchaseorderitems
  - name: Purchaseorderpayments
    description: Purchaseorderpayments
  - name: Purchaseorders
    description: Purchaseorders
  - name: Purchases
    description: Purchases
  - name: Purchasetaxes
    description: Purchasetaxes
  - name: Quotes
    description: Quotes
  - name: Reasons
    description: Reasons
  - name: Receivables
    description: Receivables
  - name: Receivablesaggs
    description: Receivablesaggs
  - name: Receivableslist
    description: Receivableslist
  - name: Receptioninvoices
    description: Receptioninvoices
  - name: Receptions
    description: Receptions
  - name: Receptionskus
    description: Receptionskus
  - name: Recharges
    description: Recharges
  - name: Rep201
    description: Rep201
  - name: Rep202
    description: Rep202
  - name: Rep203
    description: Rep203
  - name: Rep301
    description: Rep301
  - name: Rep302
    description: Rep302
  - name: Rep303
    description: Rep303
  - name: Rep304
    description: Rep304
  - name: Reportrows
    description: Reportrows
  - name: Reports
    description: Reports
  - name: Rooms
    description: Rooms
  - name: Roundprices
    description: Roundprices
  - name: Sales
    description: Sales
  - name: Salesfunnels
    description: Salesfunnels
  - name: Salesinstallments
    description: Salesinstallments
  - name: Salesitems
    description: Salesitems
  - name: Salespayments
    description: Salespayments
  - name: Salespaymentslist
    description: Salespaymentslist
  - name: Salespersons
    description: Salespersons
  - name: Salessummaries
    description: Salessummaries
  - name: Scmconfigs
    description: Scmconfigs
  - name: Seasonalconfigs
    description: Seasonalconfigs
  - name: Seasonranges
    description: Seasonranges
  - name: Sendmails
    description: Sendmails
  - name: Serviceclasses
    description: Serviceclasses
  - name: Serviceorderitems
    description: Serviceorderitems
  - name: Serviceorders
    description: Serviceorders
  - name: Services
    description: Services
  - name: Settings
    description: Settings
  - name: Shelfqueues
    description: Shelfqueues
  - name: Skuarticles
    description: Skuarticles
  - name: Skucmms
    description: Skucmms
  - name: Skuconfigs
    description: Skuconfigs
  - name: Skucurvedetails
    description: Skucurvedetails
  - name: Skucurves
    description: Skucurves
  - name: Skudailysales
    description: Skudailysales
  - name: Skugrids
    description: Skugrids
  - name: Skugroups
    description: Skugroups
  - name: Skumonthlysales
    description: Skumonthlysales
  - name: Skuparts
    description: Skuparts
  - name: Skuprices
    description: Skuprices
  - name: Skureservations
    description: Skureservations
  - name: Skus
    description: Skus
  - name: Skustocks
    description: Skustocks
  - name: Skutransits
    description: Skutransits
  - name: Skutrends
    description: Skutrends
  - name: Skutypes
    description: Skutypes
  - name: Slipreasons
    description: Slipreasons
  - name: Snbrackets
    description: Snbrackets
  - name: States
    description: States
  - name: Status
    description: Status
  - name: Statuses
    description: Statuses
  - name: Stockdailysummaries
    description: Stockdailysummaries
  - name: Stocksectors
    description: Stocksectors
  - name: Stocksummaries
    description: Stocksummaries
  - name: Supplieritems
    description: Supplieritems
  - name: Suppliers
    description: Suppliers
  - name: Supplyitems
    description: Supplyitems
  - name: Systeminfo
    description: Systeminfo
  - name: Systemtasks
    description: Systemtasks
  - name: Tables
    description: Tables
  - name: Tasks
    description: Tasks
  - name: Taxcfops
    description: Taxcfops
  - name: Taxclasses
    description: Taxclasses
  - name: Taxrates
    description: Taxrates
  - name: Tenants
    description: Tenants
  - name: Timelines
    description: Timelines
  - name: Tokens
    description: Tokens
  - name: Transactions
    description: Transactions
  - name: Units
    description: Units
  - name: Userauths
    description: Userauths
  - name: Usercompanies
    description: Usercompanies
  - name: Useremails
    description: Useremails
  - name: Users
    description: Users
  - name: Vendors
    description: Vendors
  - name: Voidnumbers
    description: Voidnumbers
  - name: Vouchers
    description: Vouchers
  - name: Voucherstatuses
    description: Voucherstatuses
  - name: Vouchertypes
    description: Vouchertypes
  - name: Whatsappdevices
    description: Whatsappdevices
  - name: Whatsappmessages
    description: Whatsappmessages
  - name: Wmsinfos
    description: Wmsinfos
  - name: Xmlexports
    description: Xmlexports

paths:
  # ../v2api/api/v2accesscards.go
  /accesscards:
    # modelo = JSONAccessCard
    post:
      operationId: post-accesscards
      tags:
        - Accesscards
      summary: Cria um(a) accesscards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccesscard.yaml
  # ../v2api/api/v2accesscards.go
  /accesscards/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accesscards
    # modelo = JSONAccessCard
    put:
      operationId: put-accesscards-id
      tags:
        - Accesscards
      summary: Atualiza um(a) accesscards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-accesscards-id
      tags:
        - Accesscards
      summary: Deleta um(a) accesscards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2accessgroups.go
  /accessgroups:
    # modelo = JSONAccessGroup
    post:
      operationId: post-accessgroups
      tags:
        - Accessgroups
      summary: Cria um(a) accessgroups
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccessgroup.yaml
  # ../v2api/api/v2accessgroups.go
  /accessgroups/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accessgroups
    # modelo = JSONAccessGroup
    put:
      operationId: put-accessgroups-id
      tags:
        - Accessgroups
      summary: Atualiza um(a) accessgroups
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2accounts.go
  /accounts:
    # modelo = JSONAccount
    post:
      operationId: post-accounts
      tags:
        - Accounts
      summary: Cria um(a) accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccount.yaml
  # ../v2api/api/v2accounts.go
  /accounts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accounts
    # modelo = JSONAccount
    put:
      operationId: put-accounts-id
      tags:
        - Accounts
      summary: Atualiza um(a) accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-accounts-id
      tags:
        - Accounts
      summary: Deleta um(a) accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2addresses.go
  /addresses:
    # modelo = JSONCadPesEnder
    post:
      operationId: post-addresses
      tags:
        - Addresses
      summary: Cria um(a) addresses
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncadpesender.yaml
  # ../v2api/api/v2addresses.go
  /addresses/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do addresses
    # modelo = JSONCadPesEnder
    delete:
      operationId: delete-addresses-id
      tags:
        - Addresses
      summary: Deleta um(a) addresses
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2addresstypes.go
  /addresstypes:
    # modelo = JSONAddressType
    post:
      operationId: post-addresstypes
      tags:
        - Addresstypes
      summary: Cria um(a) addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaddresstype.yaml
  # ../v2api/api/v2addresstypes.go
  /addresstypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do addresstypes
    # modelo = JSONAddressType
    put:
      operationId: put-addresstypes-id
      tags:
        - Addresstypes
      summary: Atualiza um(a) addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-addresstypes-id
      tags:
        - Addresstypes
      summary: Deleta um(a) addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2approvals.go
  /approvals:
# filtros = FilterApprovals
    # modelo = 
    get:
      operationId: get-approvals
      tags:
        - Approvals
      summary: Listagem de approvals
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2approvals.go
  /approvals/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do approvals
    # modelo = 
    get:
      operationId: get-approvals-id
      tags:
        - Approvals
      summary: Busca um(a) approvals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2auditlogs.go
  /auditlogs:
# filtros = FilterAuditLogs
    # modelo = 
    get:
      operationId: get-auditlogs
      tags:
        - Auditlogs
      summary: Listagem de auditlogs
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bankaccounts.go
  /bankaccounts:
    # modelo = JSONBankAccount
    post:
      operationId: post-bankaccounts
      tags:
        - Bankaccounts
      summary: Cria um(a) bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankaccount.yaml
  # ../v2api/api/v2bankaccounts.go
  /bankaccounts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankaccounts
    # modelo = JSONBankAccount
    delete:
      operationId: delete-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Deleta um(a) bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Atualiza um(a) bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bankcollections.go
  /bankcollections:
    # modelo = JSONBankCollection
    post:
      operationId: post-bankcollections
      tags:
        - Bankcollections
      summary: Cria um(a) bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankcollection.yaml
  # ../v2api/api/v2bankcollections.go
  /bankcollections/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankcollections
    # modelo = JSONBankCollection
    put:
      operationId: put-bankcollections-id
      tags:
        - Bankcollections
      summary: Atualiza um(a) bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bankcollections-id
      tags:
        - Bankcollections
      summary: Deleta um(a) bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2banks.go
  /banks:
# filtros = FilterBanks
    # modelo = 
    get:
      operationId: get-banks
      tags:
        - Banks
      summary: Listagem de banks
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bankstatements.go
  /bankstatements:
    # modelo = JSONBankStatement
    post:
      operationId: post-bankstatements
      tags:
        - Bankstatements
      summary: Cria um(a) bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankstatement.yaml
  # ../v2api/api/v2bankstatements.go
  /bankstatements/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankstatements
    # modelo = JSONBankStatement
    delete:
      operationId: delete-bankstatements-id
      tags:
        - Bankstatements
      summary: Deleta um(a) bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-bankstatements-id
      tags:
        - Bankstatements
      summary: Atualiza um(a) bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2barcodes.go
  /barcodes:
    # modelo = JSONBarcode
    post:
      operationId: post-barcodes
      tags:
        - Barcodes
      summary: Cria um(a) barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbarcode.yaml
  # ../v2api/api/v2barcodes.go
  /barcodes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do barcodes
    # modelo = JSONBarcode
    put:
      operationId: put-barcodes-id
      tags:
        - Barcodes
      summary: Atualiza um(a) barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-barcodes-id
      tags:
        - Barcodes
      summary: Deleta um(a) barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2baseactivities.go
  /baseactivities:
    # modelo = JSONBaseActivity
    post:
      operationId: post-baseactivities
      tags:
        - Baseactivities
      summary: Cria um(a) baseactivities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbaseactivity.yaml
  # ../v2api/api/v2baseactivities.go
  /baseactivities/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do baseactivities
    # modelo = JSONBaseActivity
    put:
      operationId: put-baseactivities-id
      tags:
        - Baseactivities
      summary: Atualiza um(a) baseactivities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2baseprocesses.go
  /baseprocesses:
# filtros = FilterBaseProcesses
    # modelo = 
    get:
      operationId: get-baseprocesses
      tags:
        - Baseprocesses
      summary: Listagem de baseprocesses
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2batches.go
  /batches:
# filtros = FilterBatches
    # modelo = 
    get:
      operationId: get-batches
      tags:
        - Batches
      summary: Listagem de batches
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2batches.go
  /batches/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do batches
    # modelo = 
    get:
      operationId: get-batches-id
      tags:
        - Batches
      summary: Busca um(a) batches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2billings.go
  /billings:
# filtros = FilterBillings
    # modelo = JSONBilling
    get:
      operationId: get-billings
      tags:
        - Billings
      summary: Listagem de billings
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbilling.yaml
  # ../v2api/api/v2billings.go
  /billings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do billings
    # modelo = JSONBilling
    put:
      operationId: put-billings-id
      tags:
        - Billings
      summary: Atualiza um(a) billings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2billingstatements.go
  /billingstatements:
# filtros = FilterBillingStatements
    # modelo = 
    get:
      operationId: get-billingstatements
      tags:
        - Billingstatements
      summary: Listagem de billingstatements
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2billingstatements.go
  /billingstatements/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do billingstatements
    # modelo = 
    get:
      operationId: get-billingstatements-id
      tags:
        - Billingstatements
      summary: Busca um(a) billingstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bizhours.go
  /bizhours:
    # modelo = JSONBizHour
    post:
      operationId: post-bizhours
      tags:
        - Bizhours
      summary: Cria um(a) bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbizhour.yaml
  # ../v2api/api/v2bizhours.go
  /bizhours/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bizhours
    # modelo = JSONBizHour
    put:
      operationId: put-bizhours-id
      tags:
        - Bizhours
      summary: Atualiza um(a) bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bizhours-id
      tags:
        - Bizhours
      summary: Deleta um(a) bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bizschedules.go
  /bizschedules:
    # modelo = JSONBizSchedule
    post:
      operationId: post-bizschedules
      tags:
        - Bizschedules
      summary: Cria um(a) bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbizschedule.yaml
  # ../v2api/api/v2bizschedules.go
  /bizschedules/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bizschedules
    # modelo = JSONBizSchedule
    put:
      operationId: put-bizschedules-id
      tags:
        - Bizschedules
      summary: Atualiza um(a) bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bizschedules-id
      tags:
        - Bizschedules
      summary: Deleta um(a) bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2boletocommands.go
  /boletocommands:
    # modelo = 
    get:
      operationId: get-boletocommands
      tags:
        - Boletocommands
      summary: Listagem de boletocommands
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2boletos.go
  /boletos:
# filtros = FilterBoletos
    # modelo = JSONBoleto
    get:
      operationId: get-boletos
      tags:
        - Boletos
      summary: Listagem de boletos
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonboleto.yaml
  # ../v2api/api/v2boletos.go
  /boletos/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do boletos
    # modelo = JSONBoleto
    delete:
      operationId: delete-boletos-id
      tags:
        - Boletos
      summary: Deleta um(a) boletos
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2brands.go
  /brands:
    # modelo = JSONBrand
    post:
      operationId: post-brands
      tags:
        - Brands
      summary: Cria um(a) brands
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbrand.yaml
  # ../v2api/api/v2brands.go
  /brands/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do brands
    # modelo = JSONBrand
    put:
      operationId: put-brands-id
      tags:
        - Brands
      summary: Atualiza um(a) brands
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-brands-id
      tags:
        - Brands
      summary: Deleta um(a) brands
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2buildings.go
  /buildings:
    # modelo = JSONBuilding
    post:
      operationId: post-buildings
      tags:
        - Buildings
      summary: Cria um(a) buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbuilding.yaml
  # ../v2api/api/v2buildings.go
  /buildings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do buildings
    # modelo = JSONBuilding
    put:
      operationId: put-buildings-id
      tags:
        - Buildings
      summary: Atualiza um(a) buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-buildings-id
      tags:
        - Buildings
      summary: Deleta um(a) buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bulkdeals.go
  /bulkdeals:
    # modelo = JSONBulkDeals
    post:
      operationId: post-bulkdeals
      tags:
        - Bulkdeals
      summary: Cria um(a) bulkdeals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkdeals.yaml
  # ../v2api/api/v2bulkhandlings.go
  /bulkhandlings:
    # modelo = JSONBulkOrders
    post:
      operationId: post-bulkhandlings
      tags:
        - Bulkhandlings
      summary: Cria um(a) bulkhandlings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkorders.yaml
  # ../v2api/api/v2bulkpersons.go
  /bulkpersons:
    # modelo = JSONBulkPersons
    post:
      operationId: post-bulkpersons
      tags:
        - Bulkpersons
      summary: Cria um(a) bulkpersons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkpersons.yaml
  # ../v2api/api/v2bulkpurchases.go
  /bulkpurchases:
    # modelo = JSONBulkPurchases
    post:
      operationId: post-bulkpurchases
      tags:
        - Bulkpurchases
      summary: Cria um(a) bulkpurchases
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkpurchases.yaml
  # ../v2api/api/v2bulkreceivables.go
  /bulkreceivables:
    # modelo = JSONBulkReceivables
    post:
      operationId: post-bulkreceivables
      tags:
        - Bulkreceivables
      summary: Cria um(a) bulkreceivables
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkreceivables.yaml
  # ../v2api/api/v2bulksalesitems.go
  /bulksalesitems:
    # modelo = JSONBulkSalesItems
    post:
      operationId: post-bulksalesitems
      tags:
        - Bulksalesitems
      summary: Cria um(a) bulksalesitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulksalesitems.yaml
  # ../v2api/api/v2bulkstocks.go
  /bulkstocks:
    # modelo = JSONBulkStocks
    post:
      operationId: post-bulkstocks
      tags:
        - Bulkstocks
      summary: Cria um(a) bulkstocks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkstocks.yaml
  # ../v2api/api/v2bulkvouchers.go
  /bulkvouchers:
    # modelo = JSONBulkVouchers
    post:
      operationId: post-bulkvouchers
      tags:
        - Bulkvouchers
      summary: Cria um(a) bulkvouchers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkvouchers.yaml
  # ../v2api/api/v2buyers.go
  /buyers:
    # modelo = JSONBuyer
    post:
      operationId: post-buyers
      tags:
        - Buyers
      summary: Cria um(a) buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbuyer.yaml
  # ../v2api/api/v2buyers.go
  /buyers/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do buyers
    # modelo = JSONBuyer
    put:
      operationId: put-buyers-id
      tags:
        - Buyers
      summary: Atualiza um(a) buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-buyers-id
      tags:
        - Buyers
      summary: Deleta um(a) buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cachetables.go
  /cachetables:
    # modelo = 
    post:
      operationId: post-cachetables
      tags:
        - Cachetables
      summary: Cria um(a) cachetables
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2campaignitems.go
  /campaignitems:
    # modelo = JSONCampItem
    post:
      operationId: post-campaignitems
      tags:
        - Campaignitems
      summary: Cria um(a) campaignitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncampitem.yaml
  # ../v2api/api/v2campaignitems.go
  /campaignitems/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do campaignitems
    # modelo = JSONCampItem
    put:
      operationId: put-campaignitems-id
      tags:
        - Campaignitems
      summary: Atualiza um(a) campaignitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-campaignitems-id
      tags:
        - Campaignitems
      summary: Deleta um(a) campaignitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2campaigns.go
  /campaigns:
    # modelo = JSONCampaign
    post:
      operationId: post-campaigns
      tags:
        - Campaigns
      summary: Cria um(a) campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncampaign.yaml
  # ../v2api/api/v2campaigns.go
  /campaigns/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do campaigns
    # modelo = JSONCampaign
    put:
      operationId: put-campaigns-id
      tags:
        - Campaigns
      summary: Atualiza um(a) campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-campaigns-id
      tags:
        - Campaigns
      summary: Deleta um(a) campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2carriers.go
  /carriers:
    # modelo = JSONCarrier
    post:
      operationId: post-carriers
      tags:
        - Carriers
      summary: Cria um(a) carriers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncarrier.yaml
  # ../v2api/api/v2carriers.go
  /carriers/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do carriers
    # modelo = JSONCarrier
    delete:
      operationId: delete-carriers-id
      tags:
        - Carriers
      summary: Deleta um(a) carriers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cashbalanceadjustments.go
  /cashbalanceadjustments:
    # modelo = JSONCashBalanceAdjustment
    post:
      operationId: post-cashbalanceadjustments
      tags:
        - Cashbalanceadjustments
      summary: Cria um(a) cashbalanceadjustments
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncashbalanceadjustment.yaml
  # ../v2api/api/v2cashbalances.go
  /cashbalances:
    # modelo = JSONCashBalance
    post:
      operationId: post-cashbalances
      tags:
        - Cashbalances
      summary: Cria um(a) cashbalances
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncashbalance.yaml
  # ../v2api/api/v2cashbalances.go
  /cashbalances/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cashbalances
    # modelo = JSONCashBalance
    put:
      operationId: put-cashbalances-id
      tags:
        - Cashbalances
      summary: Atualiza um(a) cashbalances
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-cashbalances-id
      tags:
        - Cashbalances
      summary: Deleta um(a) cashbalances
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cashiers.go
  /cashiers:
    # modelo = TabelaPontoVenda
    post:
      operationId: post-cashiers
      tags:
        - Cashiers
      summary: Cria um(a) cashiers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/tabelapontovenda.yaml
  # ../v2api/api/v2cashiers.go
  /cashiers/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cashiers
    # modelo = TabelaPontoVenda
    delete:
      operationId: delete-cashiers-id
      tags:
        - Cashiers
      summary: Deleta um(a) cashiers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cashierstats.go
  /cashierstats:
# filtros = FilterCashierStats
    # modelo = 
    get:
      operationId: get-cashierstats
      tags:
        - Cashierstats
      summary: Listagem de cashierstats
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cashierstats.go
  /cashierstats/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cashierstats
    # modelo = 
    get:
      operationId: get-cashierstats-id
      tags:
        - Cashierstats
      summary: Busca um(a) cashierstats
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cataloglevels.go
  /cataloglevels:
# filtros = FilterCatalogLevels
    # modelo = 
    get:
      operationId: get-cataloglevels
      tags:
        - Cataloglevels
      summary: Listagem de cataloglevels
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2catalogs.go
  /catalogs:
    # modelo = JSONCatalogs
    post:
      operationId: post-catalogs
      tags:
        - Catalogs
      summary: Cria um(a) catalogs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncatalogs.yaml
  # ../v2api/api/v2catalogs.go
  /catalogs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do catalogs
    # modelo = JSONCatalogs
    delete:
      operationId: delete-catalogs-id
      tags:
        - Catalogs
      summary: Deleta um(a) catalogs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2categories.go
  /categories:
    # modelo = JSONCategory
    post:
      operationId: post-categories
      tags:
        - Categories
      summary: Cria um(a) categories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncategory.yaml
  # ../v2api/api/v2categories.go
  /categories/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do categories
    # modelo = JSONCategory
    put:
      operationId: put-categories-id
      tags:
        - Categories
      summary: Atualiza um(a) categories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-categories-id
      tags:
        - Categories
      summary: Deleta um(a) categories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2categorylinkitems.go
  /categorylinkitems/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do categorylinkitems
    # modelo = 
    delete:
      operationId: delete-categorylinkitems-id
      tags:
        - Categorylinkitems
      summary: Deleta um(a) categorylinkitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2categorylinks.go
  /categorylinks:
    # modelo = JSONCategoryLink
    post:
      operationId: post-categorylinks
      tags:
        - Categorylinks
      summary: Cria um(a) categorylinks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncategorylink.yaml
  # ../v2api/api/v2categorylinks.go
  /categorylinks/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do categorylinks
    # modelo = JSONCategoryLink
    put:
      operationId: put-categorylinks-id
      tags:
        - Categorylinks
      summary: Atualiza um(a) categorylinks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-categorylinks-id
      tags:
        - Categorylinks
      summary: Deleta um(a) categorylinks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cbenefs.go
  /cbenefs:
    # modelo = JSONCbenef
    post:
      operationId: post-cbenefs
      tags:
        - Cbenefs
      summary: Cria um(a) cbenefs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncbenef.yaml
  # ../v2api/api/v2cbenefs.go
  /cbenefs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cbenefs
    # modelo = JSONCbenef
    delete:
      operationId: delete-cbenefs-id
      tags:
        - Cbenefs
      summary: Deleta um(a) cbenefs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2certificates.go
  /certificates:
    # modelo = JSONCertificado
    post:
      operationId: post-certificates
      tags:
        - Certificates
      summary: Cria um(a) certificates
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncertificado.yaml
  # ../v2api/api/v2certificates.go
  /certificates/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do certificates
    # modelo = JSONCertificado
    put:
      operationId: put-certificates-id
      tags:
        - Certificates
      summary: Atualiza um(a) certificates
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2channelfreights.go
  /channelfreights:
    # modelo = JSONChannelFreight
    post:
      operationId: post-channelfreights
      tags:
        - Channelfreights
      summary: Cria um(a) channelfreights
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchannelfreight.yaml
  # ../v2api/api/v2channelfreights.go
  /channelfreights/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do channelfreights
    # modelo = JSONChannelFreight
    delete:
      operationId: delete-channelfreights-id
      tags:
        - Channelfreights
      summary: Deleta um(a) channelfreights
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-channelfreights-id
      tags:
        - Channelfreights
      summary: Atualiza um(a) channelfreights
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2channelpriceconfigs.go
  /channelpriceconfigs:
    # modelo = JSONChannelPriceConfigs
    post:
      operationId: post-channelpriceconfigs
      tags:
        - Channelpriceconfigs
      summary: Cria um(a) channelpriceconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchannelpriceconfigs.yaml
  # ../v2api/api/v2channelpriceconfigs.go
  /channelpriceconfigs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do channelpriceconfigs
    # modelo = JSONChannelPriceConfigs
    put:
      operationId: put-channelpriceconfigs-id
      tags:
        - Channelpriceconfigs
      summary: Atualiza um(a) channelpriceconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-channelpriceconfigs-id
      tags:
        - Channelpriceconfigs
      summary: Deleta um(a) channelpriceconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2channels.go
  /channels:
    # modelo = JSONChannel
    post:
      operationId: post-channels
      tags:
        - Channels
      summary: Cria um(a) channels
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchannel.yaml
  # ../v2api/api/v2channels.go
  /channels/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do channels
    # modelo = JSONChannel
    delete:
      operationId: delete-channels-id
      tags:
        - Channels
      summary: Deleta um(a) channels
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2chartconfigs.go
  /chartconfigs:
    # modelo = JSONChartConfig
    post:
      operationId: post-chartconfigs
      tags:
        - Chartconfigs
      summary: Cria um(a) chartconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchartconfig.yaml
  # ../v2api/api/v2chartconfigs.go
  /chartconfigs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do chartconfigs
    # modelo = JSONChartConfig
    put:
      operationId: put-chartconfigs-id
      tags:
        - Chartconfigs
      summary: Atualiza um(a) chartconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-chartconfigs-id
      tags:
        - Chartconfigs
      summary: Deleta um(a) chartconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2charts.go
  /charts:
    # modelo = 
    get:
      operationId: get-charts
      tags:
        - Charts
      summary: Listagem de charts
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cities.go
  /cities:
# filtros = FilterCities
    # modelo = 
    get:
      operationId: get-cities
      tags:
        - Cities
      summary: Listagem de cities
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cities.go
  /cities/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cities
    # modelo = 
    get:
      operationId: get-cities-id
      tags:
        - Cities
      summary: Busca um(a) cities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2citydistricts.go
  /citydistricts:
# filtros = FilterCityDistricts
    # modelo = 
    get:
      operationId: get-citydistricts
      tags:
        - Citydistricts
      summary: Listagem de citydistricts
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2citytaxes.go
  /citytaxes:
# filtros = FilterCityTaxes
    # modelo = 
    get:
      operationId: get-citytaxes
      tags:
        - Citytaxes
      summary: Listagem de citytaxes
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2closings.go
  /closings:
# filtros = FilterClosings
    # modelo = JSONBulkClosing
    get:
      operationId: get-closings
      tags:
        - Closings
      summary: Listagem de closings
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbulkclosing.yaml
  # ../v2api/api/v2closings.go
  /closings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do closings
    # modelo = JSONBulkClosing
    get:
      operationId: get-closings-id
      tags:
        - Closings
      summary: Busca um(a) closings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbulkclosing.yaml
  # ../v2api/api/v2cnaes.go
  /cnaes:
    # modelo = JSONCnae
    post:
      operationId: post-cnaes
      tags:
        - Cnaes
      summary: Cria um(a) cnaes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncnae.yaml
  # ../v2api/api/v2cnaes.go
  /cnaes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cnaes
    # modelo = JSONCnae
    put:
      operationId: put-cnaes-id
      tags:
        - Cnaes
      summary: Atualiza um(a) cnaes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-cnaes-id
      tags:
        - Cnaes
      summary: Deleta um(a) cnaes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2commissiontypes.go
  /commissiontypes:
    # modelo = JSONCommissionType
    post:
      operationId: post-commissiontypes
      tags:
        - Commissiontypes
      summary: Cria um(a) commissiontypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncommissiontype.yaml
  # ../v2api/api/v2commissiontypes.go
  /commissiontypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do commissiontypes
    # modelo = JSONCommissionType
    put:
      operationId: put-commissiontypes-id
      tags:
        - Commissiontypes
      summary: Atualiza um(a) commissiontypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-commissiontypes-id
      tags:
        - Commissiontypes
      summary: Deleta um(a) commissiontypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2companies.go
  /companies:
    # modelo = JSONCompany
    post:
      operationId: post-companies
      tags:
        - Companies
      summary: Cria um(a) companies
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncompany.yaml
  # ../v2api/api/v2companies.go
  /companies/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do companies
    # modelo = JSONCompany
    get:
      operationId: get-companies-id
      tags:
        - Companies
      summary: Busca um(a) companies
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsoncompany.yaml
  # ../v2api/api/v2contacttypes.go
  /contacttypes:
# filtros = FilterContactTypes
    # modelo = 
    get:
      operationId: get-contacttypes
      tags:
        - Contacttypes
      summary: Listagem de contacttypes
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2contacttypes.go
  /contacttypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do contacttypes
    # modelo = 
    get:
      operationId: get-contacttypes-id
      tags:
        - Contacttypes
      summary: Busca um(a) contacttypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2contractrun.go
  /contractrun:
    # modelo = 
    post:
      operationId: post-contractrun
      tags:
        - Contractrun
      summary: Cria um(a) contractrun
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2contracts.go
  /contracts:
# filtros = FilterContracts
    # modelo = JSONContract
    get:
      operationId: get-contracts
      tags:
        - Contracts
      summary: Listagem de contracts
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncontract.yaml
  # ../v2api/api/v2contracts.go
  /contracts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do contracts
    # modelo = JSONContract
    put:
      operationId: put-contracts-id
      tags:
        - Contracts
      summary: Atualiza um(a) contracts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2costcenters.go
  /costcenters:
    # modelo = JSONCostCenter
    post:
      operationId: post-costcenters
      tags:
        - Costcenters
      summary: Cria um(a) costcenters
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncostcenter.yaml
  # ../v2api/api/v2costcenters.go
  /costcenters/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do costcenters
    # modelo = JSONCostCenter
    put:
      operationId: put-costcenters-id
      tags:
        - Costcenters
      summary: Atualiza um(a) costcenters
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-costcenters-id
      tags:
        - Costcenters
      summary: Deleta um(a) costcenters
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2coupons.go
  /coupons:
    # modelo = JSONCoupon
    post:
      operationId: post-coupons
      tags:
        - Coupons
      summary: Cria um(a) coupons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncoupon.yaml
  # ../v2api/api/v2coupons.go
  /coupons/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do coupons
    # modelo = JSONCoupon
    delete:
      operationId: delete-coupons-id
      tags:
        - Coupons
      summary: Deleta um(a) coupons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2covenants.go
  /covenants:
    # modelo = JSONConvenio
    post:
      operationId: post-covenants
      tags:
        - Covenants
      summary: Cria um(a) covenants
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonconvenio.yaml
  # ../v2api/api/v2covenants.go
  /covenants/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do covenants
    # modelo = JSONConvenio
    put:
      operationId: put-covenants-id
      tags:
        - Covenants
      summary: Atualiza um(a) covenants
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-covenants-id
      tags:
        - Covenants
      summary: Deleta um(a) covenants
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2crmtags.go
  /crmtags:
    # modelo = JSONCrmTag
    post:
      operationId: post-crmtags
      tags:
        - Crmtags
      summary: Cria um(a) crmtags
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncrmtag.yaml
  # ../v2api/api/v2crmtags.go
  /crmtags/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do crmtags
    # modelo = JSONCrmTag
    get:
      operationId: get-crmtags-id
      tags:
        - Crmtags
      summary: Busca um(a) crmtags
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsoncrmtag.yaml
  # ../v2api/api/v2cstinvoices.go
  /cstinvoices:
# filtros = FilterCstInvoices
    # modelo = 
    get:
      operationId: get-cstinvoices
      tags:
        - Cstinvoices
      summary: Listagem de cstinvoices
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2csts.go
  /csts:
    # modelo = JSONCstExcel
    post:
      operationId: post-csts
      tags:
        - Csts
      summary: Cria um(a) csts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncstexcel.yaml
  # ../v2api/api/v2csvexports.go
  /csvexports:
# filtros = FilterCSVExports
    # modelo = 
    get:
      operationId: get-csvexports
      tags:
        - Csvexports
      summary: Listagem de csvexports
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2csvimporterrors.go
  /csvimporterrors:
# filtros = FilterCSVImportErrors
    # modelo = 
    get:
      operationId: get-csvimporterrors
      tags:
        - Csvimporterrors
      summary: Listagem de csvimporterrors
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2csvimporterrors.go
  /csvimporterrors/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do csvimporterrors
    # modelo = 
    get:
      operationId: get-csvimporterrors-id
      tags:
        - Csvimporterrors
      summary: Busca um(a) csvimporterrors
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2csvimports.go
  /csvimports:
    # modelo = JSONCSVImport
    post:
      operationId: post-csvimports
      tags:
        - Csvimports
      summary: Cria um(a) csvimports
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncsvimport.yaml
  # ../v2api/api/v2csvimports.go
  /csvimports/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do csvimports
    # modelo = JSONCSVImport
    delete:
      operationId: delete-csvimports-id
      tags:
        - Csvimports
      summary: Deleta um(a) csvimports
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2currencies.go
  /currencies:
# filtros = FilterCurrencies
    # modelo = 
    get:
      operationId: get-currencies
      tags:
        - Currencies
      summary: Listagem de currencies
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2curves.go
  /curves:
    # modelo = JSONCurve
    post:
      operationId: post-curves
      tags:
        - Curves
      summary: Cria um(a) curves
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncurve.yaml
  # ../v2api/api/v2curves.go
  /curves/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do curves
    # modelo = JSONCurve
    put:
      operationId: put-curves-id
      tags:
        - Curves
      summary: Atualiza um(a) curves
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-curves-id
      tags:
        - Curves
      summary: Deleta um(a) curves
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2customercategories.go
  /customercategories:
    # modelo = JSONCustomerCategory
    post:
      operationId: post-customercategories
      tags:
        - Customercategories
      summary: Cria um(a) customercategories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncustomercategory.yaml
  # ../v2api/api/v2customercategories.go
  /customercategories/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do customercategories
    # modelo = JSONCustomerCategory
    put:
      operationId: put-customercategories-id
      tags:
        - Customercategories
      summary: Atualiza um(a) customercategories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-customercategories-id
      tags:
        - Customercategories
      summary: Deleta um(a) customercategories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2customercontacts.go
  /customercontacts:
    # modelo = JSONCustomerContact
    post:
      operationId: post-customercontacts
      tags:
        - Customercontacts
      summary: Cria um(a) customercontacts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncustomercontact.yaml
  # ../v2api/api/v2customercontacts.go
  /customercontacts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do customercontacts
    # modelo = JSONCustomerContact
    put:
      operationId: put-customercontacts-id
      tags:
        - Customercontacts
      summary: Atualiza um(a) customercontacts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-customercontacts-id
      tags:
        - Customercontacts
      summary: Deleta um(a) customercontacts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2customeremails.go
  /customeremails:
    # modelo = JSONCadPesEmail
    post:
      operationId: post-customeremails
      tags:
        - Customeremails
      summary: Cria um(a) customeremails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncadpesemail.yaml
  # ../v2api/api/v2customeremails.go
  /customeremails/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do customeremails
    # modelo = JSONCadPesEmail
    get:
      operationId: get-customeremails-id
      tags:
        - Customeremails
      summary: Busca um(a) customeremails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsoncadpesemail.yaml
  # ../v2api/api/v2customernotes.go
  /customernotes:
    # modelo = JSONCustomerNote
    post:
      operationId: post-customernotes
      tags:
        - Customernotes
      summary: Cria um(a) customernotes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncustomernote.yaml
  # ../v2api/api/v2customerphones.go
  /customerphones:
    # modelo = JSONCadPesTelef
    post:
      operationId: post-customerphones
      tags:
        - Customerphones
      summary: Cria um(a) customerphones
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncadpestelef.yaml
  # ../v2api/api/v2customerphones.go
  /customerphones/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do customerphones
    # modelo = JSONCadPesTelef
    delete:
      operationId: delete-customerphones-id
      tags:
        - Customerphones
      summary: Deleta um(a) customerphones
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2customerpoints.go
  /customerpoints:
    # modelo = JSONCustomerPoint
    post:
      operationId: post-customerpoints
      tags:
        - Customerpoints
      summary: Cria um(a) customerpoints
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncustomerpoint.yaml
  # ../v2api/api/v2customerpoints.go
  /customerpoints/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do customerpoints
    # modelo = JSONCustomerPoint
    put:
      operationId: put-customerpoints-id
      tags:
        - Customerpoints
      summary: Atualiza um(a) customerpoints
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-customerpoints-id
      tags:
        - Customerpoints
      summary: Deleta um(a) customerpoints
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2customertransactions.go
  /customertransactions:
# filtros = FilterCustomerTransaction
    # modelo = 
    get:
      operationId: get-customertransactions
      tags:
        - Customertransactions
      summary: Listagem de customertransactions
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2dailyclosings.go
  /dailyclosings:
# filtros = FilterDailyClosings
    # modelo = JSONBulkClosing
    get:
      operationId: get-dailyclosings
      tags:
        - Dailyclosings
      summary: Listagem de dailyclosings
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbulkclosing.yaml
  # ../v2api/api/v2dailyclosings.go
  /dailyclosings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do dailyclosings
    # modelo = JSONBulkClosing
    get:
      operationId: get-dailyclosings-id
      tags:
        - Dailyclosings
      summary: Busca um(a) dailyclosings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbulkclosing.yaml
  # ../v2api/api/v2dailyreceivables.go
  /dailyreceivables:
# filtros = FilterDailyReceivables
    # modelo = 
    get:
      operationId: get-dailyreceivables
      tags:
        - Dailyreceivables
      summary: Listagem de dailyreceivables
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2dailyreceivables.go
  /dailyreceivables/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do dailyreceivables
    # modelo = 
    get:
      operationId: get-dailyreceivables-id
      tags:
        - Dailyreceivables
      summary: Busca um(a) dailyreceivables
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2dashboardmetrics.go
  /dashboardmetrics:
# filtros = FilterMetrics
    # modelo = 
    get:
      operationId: get-dashboardmetrics
      tags:
        - Dashboardmetrics
      summary: Listagem de dashboardmetrics
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2dashboards.go
  /dashboards:
    # modelo = JSONDashboardV2
    post:
      operationId: post-dashboards
      tags:
        - Dashboards
      summary: Cria um(a) dashboards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsondashboardv2.yaml
  # ../v2api/api/v2dashboards.go
  /dashboards/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do dashboards
    # modelo = JSONDashboardV2
    delete:
      operationId: delete-dashboards-id
      tags:
        - Dashboards
      summary: Deleta um(a) dashboards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2deals.go
  /deals:
    # modelo = JSONDeal
    post:
      operationId: post-deals
      tags:
        - Deals
      summary: Cria um(a) deals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsondeal.yaml
  # ../v2api/api/v2deals.go
  /deals/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do deals
    # modelo = JSONDeal
    put:
      operationId: put-deals-id
      tags:
        - Deals
      summary: Atualiza um(a) deals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-deals-id
      tags:
        - Deals
      summary: Deleta um(a) deals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2dealtypes.go
  /dealtypes:
# filtros = FilterDealTypes
    # modelo = 
    get:
      operationId: get-dealtypes
      tags:
        - Dealtypes
      summary: Listagem de dealtypes
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2dealtypes.go
  /dealtypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do dealtypes
    # modelo = 
    get:
      operationId: get-dealtypes-id
      tags:
        - Dealtypes
      summary: Busca um(a) dealtypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2deliveries.go
  /deliveries:
    # modelo = JSONDelivery
    post:
      operationId: post-deliveries
      tags:
        - Deliveries
      summary: Cria um(a) deliveries
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsondelivery.yaml
  # ../v2api/api/v2deliveries.go
  /deliveries/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do deliveries
    # modelo = JSONDelivery
    put:
      operationId: put-deliveries-id
      tags:
        - Deliveries
      summary: Atualiza um(a) deliveries
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-deliveries-id
      tags:
        - Deliveries
      summary: Deleta um(a) deliveries
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2deliverytypes.go
  /deliverytypes:
    # modelo = JSONDeliveryType
    post:
      operationId: post-deliverytypes
      tags:
        - Deliverytypes
      summary: Cria um(a) deliverytypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsondeliverytype.yaml
  # ../v2api/api/v2deliverytypes.go
  /deliverytypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do deliverytypes
    # modelo = JSONDeliveryType
    delete:
      operationId: delete-deliverytypes-id
      tags:
        - Deliverytypes
      summary: Deleta um(a) deliverytypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2dfebatches.go
  /dfebatches:
    # modelo = JSONDFeBatch
    post:
      operationId: post-dfebatches
      tags:
        - Dfebatches
      summary: Cria um(a) dfebatches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsondfebatch.yaml
  # ../v2api/api/v2dfebatches.go
  /dfebatches/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do dfebatches
    # modelo = JSONDFeBatch
    put:
      operationId: put-dfebatches-id
      tags:
        - Dfebatches
      summary: Atualiza um(a) dfebatches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-dfebatches-id
      tags:
        - Dfebatches
      summary: Deleta um(a) dfebatches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distriborders.go
  /distriborders:
    # modelo = JSONDistribOrders
    post:
      operationId: post-distriborders
      tags:
        - Distriborders
      summary: Cria um(a) distriborders
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distriborders.go
  /distriborders/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do distriborders
    # modelo = JSONDistribOrders
    put:
      operationId: put-distriborders-id
      tags:
        - Distriborders
      summary: Atualiza um(a) distriborders
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-distriborders-id
      tags:
        - Distriborders
      summary: Deleta um(a) distriborders
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distribrefillitems.go
  /distribrefillitems:
# filtros = FilterDistribRefillItems
    # modelo = 
    get:
      operationId: get-distribrefillitems
      tags:
        - Distribrefillitems
      summary: Listagem de distribrefillitems
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distribrefills.go
  /distribrefills:
# filtros = FilterDistribRefills
    # modelo = 
    get:
      operationId: get-distribrefills
      tags:
        - Distribrefills
      summary: Listagem de distribrefills
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distribrefills.go
  /distribrefills/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do distribrefills
    # modelo = 
    get:
      operationId: get-distribrefills-id
      tags:
        - Distribrefills
      summary: Busca um(a) distribrefills
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distribskus.go
  /distribskus:
# filtros = FilterDistribSkus
    # modelo = 
    get:
      operationId: get-distribskus
      tags:
        - Distribskus
      summary: Listagem de distribskus
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distribtypes.go
  /distribtypes:
# filtros = FilterDistribTypes
    # modelo = 
    get:
      operationId: get-distribtypes
      tags:
        - Distribtypes
      summary: Listagem de distribtypes
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distribtypes.go
  /distribtypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do distribtypes
    # modelo = 
    get:
      operationId: get-distribtypes-id
      tags:
        - Distribtypes
      summary: Busca um(a) distribtypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2distributions.go
  /distributions:
    # modelo = JSONDistribParamsPostPutDel
    post:
      operationId: post-distributions
      tags:
        - Distributions
      summary: Cria um(a) distributions
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsondistribparamspostputdel.yaml
  # ../v2api/api/v2distributions.go
  /distributions/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do distributions
    # modelo = JSONDistribParamsPostPutDel
    delete:
      operationId: delete-distributions-id
      tags:
        - Distributions
      summary: Deleta um(a) distributions
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2documenttypes.go
  /documenttypes:
# filtros = FilterDocumentTypes
    # modelo = 
    get:
      operationId: get-documenttypes
      tags:
        - Documenttypes
      summary: Listagem de documenttypes
      parameters:
        - $ref: "#/components/parameters/Filter"
[...]
