### 1437 models
openapi: 3.0.3
info:
  title: RNGE API
  version: 1.0.0
  license:
    name: Copyright (C) Rednaxel Informática
    url: 'https://rednaxel.com'
  termsOfService: 'https://rednaxel.com/termos-de-uso'
  contact:
    name: Suporte
    email: suporte@rednaxel.com
    url: 'https://suporte.rednaxel.com'
  x-logo:
    url: 'https://storage.googleapis.com/rednaxel-dados/rednaxel-264.png'
    altText: Logo da Rednaxel

servers:
  - url: "https://homolog.rnge.com.br/v2"
    description: Homologação
  - url: "https://rnge.com.br/v2"
    description: Produção

components:
  parameters:
    Filter:
      name: filter
      in: query
      required: false
      schema:
        type: string
      description: Filtros
    Range:
      name: range
      in: query
      schema:
        minItems: 1
        maxItems: 2
        items:
          type: integer
          format: int32
        default: '[0,99]'
        example: '[0,99]'
      description: Paginação
      explode: true
      style: form
      required: true
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            desc:
              type: string
      description: Ordenação
  securitySchemes:
    TokenAcesso:
      type: http
      scheme: bearer
      description: ''

security:
  - TokenAcesso: []

# stockmovements [POST]
# purchasecosts/{id} [GET PUT]
# operations [GET]
# csts [GET POST]
# packages [GET POST]
# seasonranges [GET POST]
# skumonthlysales [GET]
# scmprojectionlogs [GET]
# producttags [GET POST]
# skugroups/{id} [GET PUT DELETE]
# cashbalanceadjustments [POST]
# wacrecords/{id} [GET]
# scmtags/{id} [GET PUT DELETE]
# skustocks [GET POST]
# skureservations [GET POST]
# vendors [GET POST]
# roundprices [GET]
# skucontainers/{id} [GET PUT DELETE]
# ibptaxes [POST]
# campaignitems [GET POST]
# purchaseorderitems [GET POST]
# salesmonthlypayments/{id} [GET]
# tasks/{id} [GET PUT DELETE]
# stocksummaries [GET]
# voucherstatuses [GET]
# skugroups [GET POST]
# purchaseorderpayments [GET POST]
# integrationresponses/{id} [GET]
# menuitems/{id} [GET DELETE PUT]
# postersizes [GET]
# skutransits/{id} [GET]
# rep202 [GET]
# excelimportlayouts [GET]
# scmanalyses [GET POST]
# carriers/{id} [GET PUT DELETE]
# buyers [GET POST]
# movements [POST]
# containeritems [GET POST]
# freightbills [GET POST]
# expensecategories [GET POST]
# whatsappmessages/{id} [GET PUT DELETE]
# skurankings/{id} [GET]
# crossdockingitems [GET POST]
# systemtasks [GET]
# status [GET]
# cstinvoices [GET]
# suppliers [GET POST]
# skucmms [GET]
# reasons [GET POST]
# csvimporterrors/{id} [GET]
# products/{id} [GET PUT DELETE]
# chartconfigs/{id} [GET PUT DELETE]
# handlings/{id} [GET PUT DELETE]
# xmlexports [GET POST]
# citytaxes [GET]
# bizhours [GET POST]
# funnelstages [GET POST]
# closings [GET]
# excelimportlayouts/{id} [GET]
# excelimports [GET POST]
# payforecasts/{id} [GET PUT DELETE]
# charts [GET]
# distributions [GET POST]
# covenants [GET POST]
# bizschedules/{id} [GET PUT DELETE]
# creditcardbrands [GET]
# invoiceevents/{id} [PUT]
# menuitems [GET POST]
# userauths [GET]
# pricelistarticles [GET POST]
# purchasemappings/{id} [GET PUT DELETE]
# notifications [GET POST]
# kanbanlanes [GET POST]
# salesmonthlypayments [GET]
# ctes [GET POST]
# scalesectors/{id} [GET PUT DELETE]
# orderitems [GET POST]
# orderstatus/{id} [GET PUT]
# contacttypes/{id} [GET]
# baseprocesses [GET]
# humanresources/{id} [GET DELETE]
# paymentlinkstatus [GET POST]
# purchaseitems/{id} [GET PUT DELETE]
# salespayments [GET POST]
# personmargins [GET POST]
# salescommissions [GET]
# skuconfignotes/{id} [GET PUT DELETE]
# bankaccounts/{id} [GET DELETE PUT]
# importfees/{id} [GET PUT]
# voidnumbers [GET POST]
# cbenefs [GET POST]
# kanbans [GET POST]
# menureports [GET]
# bizhours/{id} [GET PUT DELETE]
# deals [GET POST]
# orderstatus [POST]
# incompleteopenings/{id} [GET]
# csvimports [GET POST]
# cnaes/{id} [GET PUT DELETE]
# orderitemdiscounts/{id} [GET]
# bulkpersons [POST]
# skustates [GET POST]
# voidnumbers/{id} [GET]
# orderintegrations [GET]
# leadstatuses/{id} [GET]
# cataloglevels [GET]
# logs [GET]
# pricelistarticles/{id} [GET PUT DELETE]
# sendmails [POST]
# usercompanies [GET POST]
# skugrids/{id} [GET PUT DELETE]
# grouplevels [GET]
# payablefees [GET POST]
# orders [GET POST]
# categorylinks [GET POST]
# purchases/{id} [GET PUT]
# expensecategories/{id} [GET PUT DELETE]
# boletos/{id} [GET PUT DELETE]
# articledetails [GET POST]
# webhookcalls [GET]
# tokens/{id} [GET PUT DELETE]
# customerphones/{id} [GET PUT DELETE]
# helppages/{id} [GET PUT]
# purchaseitemtaxes [GET POST]
# stocksectors [GET]
# skurankings [GET]
# csvimporterrors [GET]
# myplans [GET POST]
# handlingitems/{id} [GET PUT DELETE]
# channelfreights/{id} [GET DELETE PUT]
# rep203 [GET]
# purchaseordertags/{id} [GET PUT DELETE]
# wmsinfos/{id} [GET]
# rooms [GET POST]
# whatsappchats [GET]
# crossdockings [GET POST]
# leadtimes [GET POST]
# skucurves/{id} [GET]
# importadditionitems [GET POST]
# states [GET]
# shelfqueues/{id} [GET PUT DELETE]
# orderintegrations/{id} [GET PUT]
# portfoliocustomers/{id} [GET PUT DELETE]
# salesitems/{id} [GET PUT DELETE]
# purchasenotes/{id} [GET PUT DELETE]
# vouchertypes/{id} [GET PUT DELETE]
# importadditions [GET POST]
# importadditionitems/{id} [GET PUT DELETE]
# distriborders/{id} [GET PUT DELETE]
# cities [GET]
# groupmemberauths/{id} [GET DELETE]
# purchaseorders/{id} [GET PUT DELETE]
# creditcardbrands/{id} [GET PUT DELETE]
# billings [GET]
# boletocommands [GET]
# sales/{id} [GET PUT DELETE]
# keyboardpayments/{id} [GET PUT DELETE]
# requests/{id} [GET]
# scmanalysisitems/{id} [GET]
# purchaseitems [GET POST]
# events [GET POST]
# skuprices/{id} [GET]
# snbrackets [GET]
# purchaseshareitems [GET]
# scmanalyses/{id} [GET PUT DELETE]
# purchaseordertags [GET POST]
# isclassifications/{id} [GET]
# tokens [GET]
# ordertrackings [GET]
# catalogs/{id} [GET PUT DELETE]
# paymentlinks [GET POST]
# distribrefills/{id} [GET]
# distribrefillitems [GET]
# notificationconfigs [GET POST]
# kanbanlanetypes [GET]
# skucmps [GET]
# order5929 [POST]
# pricelists [GET POST]
# receptioninvoices/{id} [GET]
# deals/{id} [GET PUT DELETE]
# excelimportlogs [GET POST]
# cmmfs [GET]
# addresstypes/{id} [GET PUT DELETE]
# keyboards/{id} [GET PUT DELETE]
# whatsappchats/{id} [GET]
# payforecasts [GET POST]
# batches/{id} [GET]
# contacttypes [GET]
# skucurvedetails [GET]
# freightzones [GET POST]
# kanbanlanetypes/{id} [GET]
# containeritems/{id} [GET PUT DELETE]
# currencies [GET]
# groupmembers [GET]
# rep301 [GET]
# distribtypes [GET]
# skusales/{id} [GET]
# skucurves [GET]
# billingstatements [GET]
# humanresources [GET]
# issituations/{id} [GET]
# emailtemplates [GET POST]
# skus [GET POST]
# customercontacts [GET POST]
# covenants/{id} [GET PUT DELETE]
# services [GET POST]
# productcategories [GET POST]
# operationconfigs/{id} [GET PUT DELETE]
# salesfunnels/{id} [GET]
# skucontainers [GET POST]
# orderdraft/{id} [PUT]
# coupons [GET POST]
# citydistricts [GET]
# integrationexports [POST]
# rep303 [GET]
# paymentlinks/{id} [GET PUT DELETE]
# crossdockingitems/{id} [GET PUT DELETE]
# dealnotes [GET POST]
# boletos [GET]
# scmanalysisitems [GET]
# skusales [GET]
# orderitems/{id} [GET PUT DELETE]
# pdflayouts/{id} [GET PUT DELETE]
# freightbillbalances/{id} [GET PUT]
# products [GET POST]
# pickingqueues/{id} [GET PUT DELETE]
# pickingzones/{id} [GET PUT DELETE]
# spedfiles/{id} [GET DELETE]
# invoicefixes [POST]
# dashboardmetrics [GET]
# salespersons/{id} [GET PUT DELETE]
# skuparts/{id} [GET PUT DELETE]
# approvals [GET]
# productcategories/{id} [GET PUT DELETE]
# keyboards [GET POST]
# spedfiles [GET POST]
# prospects [GET]
# scmconfigs/{id} [GET PUT DELETE]
# importadditiontaxes/{id} [GET PUT DELETE]
# transactions/{id} [GET PUT DELETE]
# bulkpurchases [POST]
# tables/{id} [GET PUT DELETE]
# requests [GET]
# icbssituations [GET]
# tasks [GET POST]
# skutrends [GET]
# reportrows [GET]
# quotes [GET POST]
# orderlabels/{id} [GET PUT]
# salesinstallments [GET]
# bizschedules [GET POST]
# ordermargins [GET POST]
# orderchecks/{id} [GET PUT]
# orderpayments/{id} [PUT DELETE]
# giftcards/{id} [GET PUT]
# stocksummaries/{id} [GET]
# freightregions [GET POST]
# posterjobs/{id} [GET PUT DELETE]
# myplans/{id} [GET PUT DELETE]
# crossdockings/{id} [GET PUT DELETE]
# bankaccounts [GET POST]
# systeminfo [GET]
# invoiceitems/{id} [GET PUT]
# bulkvouchers [POST]
# addresses/{id} [GET PUT DELETE]
# pdvparameters [GET POST]
# taxrates/{id} [GET PUT]
# emails [GET POST]
# bulksalesitems [POST]
# icbsclassifications/{id} [GET]
# purchases [GET POST]
# emailtemplatetypes [GET]
# categories/{id} [GET PUT DELETE]
# pdflayouts [GET POST]
# dashboards/{id} [GET PUT DELETE]
# stockdailysummaries [GET]
# freightbillitems/{id} [GET DELETE]
# customercategories/{id} [GET PUT DELETE]
# bulkskuconfigs [POST]
# pricerules/{id} [GET PUT DELETE]
# documenttypes [GET]
# personproducts [GET]
# loyaltyprograms/{id} [GET PUT DELETE]
# channelfreights [GET POST]
# whatsappdevices [GET POST]
# leadstages [GET POST]
# spedblockh/{id} [GET PUT DELETE]
# integrationoptions [GET]
# labels/{id} [GET PUT DELETE]
# receptions/{id} [GET PUT DELETE]
# invoiceitems [GET POST]
# invoicepayments [GET]
# commissiontypes [GET POST]
# results/{id} [GET]
# transfers/{id} [GET PUT DELETE]
# wacrecords [GET]
# ctedocs/{id} [GET]
# labels [GET POST]
# categories [GET POST]
# importadditiontaxes [GET POST]
# integrationstatus [GET POST]
# purchasecosts [GET]
# banks [GET]
# portfolios/{id} [GET PUT DELETE]
# purchaseplans/{id} [GET PUT DELETE]
# purchasecostitems/{id} [GET PUT]
# barcodes [GET POST]
# posters/{id} [GET PUT DELETE]
# purchasemappings [GET POST]
# rooms/{id} [GET PUT DELETE]
# integrationtypes/{id} [GET]
# scmskus [GET]
# scaleproducts [GET POST]
# operationconfigs [GET POST]
# personprofiles/{id} [GET]
# salescommissions/{id} [GET]
# ordervolumes/{id} [PUT]
# integrationconfigs/{id} [GET]
# skucurvedetails/{id} [GET]
# campaigns/{id} [GET PUT DELETE]
# invoicepayments/{id} [GET PUT]
# accessgroups/{id} [GET PUT]
# receptions [GET POST]
# leadstatuses [GET]
# contracts [GET]
# locationlabels [GET]
# bankcollections [GET POST]
# ips [GET POST]
# installmentplans/{id} [GET PUT]
# freightbillitems [GET]
# deliverytypes/{id} [GET PUT DELETE]
# payables [GET POST]
# priceroundingrules/{id} [GET PUT DELETE]
# dailyreceivables [GET]
# deliveries [GET POST]
# leadreasons/{id} [GET PUT DELETE]
# dealtypes/{id} [GET]
# skutypes/{id} [GET]
# supplyitems [GET POST]
# closings/{id} [GET]
# modules/{id} [GET]
# transfers [GET POST]
# settings [GET]
# kanbanmenuitems [GET]
# crmtags [GET POST]
# spedblockh [GET POST]
# leads [GET POST]
# kanbanconfigs [GET POST]
# personmargins/{id} [GET PUT DELETE]
# purchaseplans [GET POST]
# addresses [GET POST]
# pricelists/{id} [GET PUT DELETE]
# posterfields [GET]
# customernotes [GET POST]
# units [GET POST]
# postalcodes [GET]
# packages/{id} [GET PUT DELETE]
# orderflows [GET]
# purchasenotes [GET POST]
# dailysales [GET]
# profiles/{id} [GET PUT]
# salessummaries [GET]
# skuconfigs [GET POST]
# fulfillments [GET]
# webhookcalls/{id} [GET]
# distributions/{id} [PUT GET DELETE]
# pricecheck/{id} [GET]
# monthlysales [GET]
# dealtypes [GET]
# leadtimes/{id} [GET PUT DELETE]
# suppliercontacts/{id} [GET PUT DELETE]
# billings/{id} [GET PUT]
# phonetypes [GET POST]
# suppliers/{id} [GET PUT DELETE]
# campaignitems/{id} [GET PUT DELETE]
# ctes/{id} [GET PUT DELETE]
# scmskus/{id} [GET]
# coupons/{id} [GET PUT DELETE]
# scmconfigs [GET POST]
# distribskus [GET]
# sales [GET POST]
# usergroups/{id} [GET PUT DELETE]
# payables/{id} [GET PUT DELETE]
# danfces/{id} [GET]
# expenses/{id} [GET PUT]
# skutypes [GET]
# funnelstages/{id} [GET PUT DELETE]
# commissions [GET]
# orders/{id} [GET PUT DELETE PATCH]
# slipreasons [POST]
# customeremails [GET POST]
# bulkstocks [POST]
# results [GET]
# useremails [GET POST]
# receivables [GET POST]
# receptionskus [GET POST]
# xmlexports/{id} [GET DELETE]
# dfebatches [GET POST]
# customeremails/{id} [GET]
# reasons/{id} [GET PUT DELETE]
# skuprices [GET POST]
# purchaseorders [GET POST]
# tasktypes/{id} [GET PUT DELETE]
# costcenters/{id} [GET PUT DELETE]
# kanbanitems [GET]
# commissiontypes/{id} [GET PUT DELETE]
# articledetails/{id} [GET PUT DELETE]
# dailysales/{id} [GET]
# customerphones [GET POST]
# events/{id} [GET PUT]
# kardexes [GET]
# seasonalconfigs [GET POST]
# seasonalconfigs/{id} [GET PUT DELETE]
# rep302 [GET]
# kanbanmenuactions [POST]
# portfoliotags [GET POST]
# barcodes/{id} [GET PUT DELETE]
# giftcards [GET POST]
# curves [GET POST]
# serviceclasses [GET POST]
# spedblockhcnpj [GET POST]
# usergroups [GET POST]
# incompleteopenings [GET]
# issuers [GET POST]
# supplieritems/{id} [GET PUT DELETE]
# modules [GET]
# serviceorderitems [GET POST]
# companies/{id} [PUT GET]
# vouchers/{id} [GET PUT DELETE]
# orderpatches/{id} [PUT]
# serviceclasses/{id} [GET PUT DELETE]
# supplieritems [GET POST]
# grouplevels/{id} [GET PUT]
# overdues [GET]
# ordervolumes [GET POST]
# deliveries/{id} [GET PUT DELETE]
# taxrates [GET]
# cnpjs [GET]
# logout [POST]
# serviceorders [GET POST]
# cachetables [POST]
# tenants/{id} [GET PUT DELETE]
# services/{id} [GET PUT DELETE]
# skuparts [GET POST]
# handlingitems [GET POST]
# notificationconfigs/{id} [GET PUT DELETE]
# integrations [GET POST]
# vouchertypes [GET POST]
# imports [GET POST]
# cashierstats [GET]
# vouchermodels [GET]
# categorylinks/{id} [GET PUT DELETE]
# csvexports [GET]
# baseactivities [GET POST]
# accessgroups [GET POST]
# deliverytypes [GET POST]
# timelines [GET]
# accesscards/{id} [GET PUT DELETE]
# supplyitems/{id} [GET PUT DELETE]
# buildings [GET POST]
# orderflows/{id} [GET]
# documenttypes/{id} [GET]
# kanbanconfigs/{id} [GET PUT DELETE]
# crossdockingskus [GET POST]
# cashbalances/{id} [GET PUT DELETE]
# ordertags/{id} [GET PUT DELETE]
# nfes/{id} [GET PUT DELETE]
# purchasetags/{id} [GET PUT DELETE]
# certificates [GET POST]
# fulfillments/{id} [PUT]
# scmestimates [GET POST]
# metrics/{id} [GET PUT DELETE]
# users [GET POST]
# helppages [GET POST]
# stockdailysummaries/{id} [GET PUT]
# imports/{id} [GET PUT]
# expenseskus/{id} [GET PUT DELETE]
# skugrids [GET POST]
# invoicetypes/{id} [GET]
# ordersync/{id} [PUT]
# integrationresponses [GET]
# orderlabels [POST]
# seasonranges/{id} [GET DELETE PUT]
# excelimports/{id} [GET PUT DELETE]
# revenues/{id} [GET]
# skus/{id} [GET PUT DELETE]
# pdvparameters/{id} [GET PUT DELETE]
# planpaymentmethods [GET POST]
# logs/{id} [GET]
# leads/{id} [GET PUT DELETE]
# reports/{id} [GET PUT]
# portfoliocustomers [GET POST]
# paymentlinkstatus/{id} [GET PUT DELETE]
# ctedocs [GET]
# scmprojectionlogs/{id} [GET]
# receivables/{id} [GET PUT DELETE]
# taxcfops/{id} [GET PUT]
# bankstatements/{id} [GET DELETE PUT]
# spedfiles/zip/{id} [GET]
# orderorigins [GET]
# poslayoutkeys/{id} [PUT]
# settings/{id} [GET]
# wmsinfos [GET]
# metricseries/{id} [GET]
# salespaymentslist [GET POST]
# vouchermodels/{id} [GET]
# loyaltycustomers/{id} [GET PUT DELETE]
# orderimport [POST]
# invoiceevents [POST]
# emailtemplates/{id} [GET PUT DELETE]
# planpaymentmethods/{id} [GET PUT]
# posterfields/{id} [GET]
# rep201 [GET]
# tasktypes [GET POST]
# scalesectors [GET POST]
# installmentplans [GET POST]
# purchaseitemtaxes/{id} [GET PUT]
# bankstatsums [GET]
# plans/{id} [GET PUT DELETE]
# loyaltycustomers [GET POST]
# companies [GET POST]
# invoices/{id} [PUT GET]
# buyers/{id} [GET PUT DELETE]
# notifications/{id} [GET PUT DELETE]
# purchasetaxes [GET POST]
# dailyreceivables/{id} [GET]
# vouchertags [GET POST]
# issituations [GET]
# orderpayments [GET POST]
# customerpoints [GET POST]
# importfees [GET]
# brands [GET POST]
# skuconfignotes [GET POST]
# wmsaisles [GET POST]
# freightbillbalances [GET]
# producttags/{id} [GET PUT DELETE]
# purchasetaxes/{id} [GET PUT DELETE]
# stocksectors/{id} [GET]
# accounts/{id} [GET PUT DELETE]
# bulkdeals [POST]
# nfes [GET POST]
# wacs [GET POST]
# batches [POST GET]
# invoiceemails/{id} [PUT]
# vendors/{id} [GET PUT]
# salespersons [GET POST]
# vouchertags/{id} [GET PUT DELETE]
# ordernotes [GET POST]
# tenants [GET POST]
# accesscards [GET POST]
# purchasecostitems [GET]
# purchasetags [GET POST]
# holidays [GET POST]
# cnaes [GET POST]
# customercategories [GET POST]
# units/{id} [GET PUT DELETE]
# skudailysales [GET]
# salespayments/{id} [GET PUT DELETE]
# pixstatuses [GET]
# overdues/{id} [GET]
# orderpaymentlists [POST]
# volumelabels/{id} [GET]
# integrationconfigs [GET]
# customerpoints/{id} [GET PUT DELETE]
# addresstypes [GET POST]
# skuarticles [GET POST]
# auditlogs [GET]
# scmtags [GET POST]
# serviceorderitems/{id} [GET DELETE PUT]
# ordercheckitems [GET]
# invoices [GET POST]
# skuarticles/{id} [GET PUT DELETE]
# skustocks/{id} [GET PUT DELETE]
# whatsappmessages [GET POST]
# supplierissuers/{id} [GET]
# revenues [GET]
# holidays/{id} [GET PUT]
# keyboardpayments [GET POST]
# leadstages/{id} [GET PUT DELETE]
# bulkbankstatements [POST]
# scaleproducts/{id} [GET PUT DELETE]
# paymenttypes [GET POST]
# vouchers [GET POST]
# taxcfops [GET POST]
# posters [GET POST]
# rep304 [GET]
# persons [GET POST]
# cashierstats/{id} [GET]
# users/{id} [GET PUT DELETE]
# parameters [GET POST]
# payablesaggs [GET]
# handlings [GET]
# bulkhandlings [POST]
# emails/{id} [GET PUT DELETE]
# prospects/{id} [GET]
# distriborders [GET POST]
# cities/{id} [GET]
# loyaltyprograms [GET POST]
# cbenefs/{id} [GET PUT DELETE]
# portfolios [GET POST]
# spedblockhcnpj/{id} [GET PUT DELETE]
# productimages/{id} [GET PUT DELETE]
# labeljobs [GET POST]
# kanbans/{id} [GET PUT DELETE]
# wmsaisles/{id} [GET PUT DELETE]
# channels/{id} [GET PUT DELETE]
# receptionskus/{id} [GET PUT DELETE]
# providers/{id} [GET PUT DELETE]
# metricseries [GET]
# invoicetypes [GET]
# receivableslist [GET POST]
# statuses [GET]
# statuses/{id} [GET PUT]
# taxclasses/{id} [GET PUT DELETE]
# paymentcodes [GET POST]
# pickingqueues [GET POST]
# priceroundingrules [GET POST]
# metrics [GET]
# ordercheckitems/{id} [PUT]
# recharges [GET]
# carriers [GET POST]
# paymenttypes/{id} [GET PUT DELETE]
# skureservations/{id} [GET PUT DELETE]
# parameters/{id} [GET PUT DELETE]
# salesitems [GET POST]
# curves/{id} [GET PUT DELETE]
# purchaseorderitems/{id} [GET PUT DELETE]
# menureports/{id} [GET]
# dailyclosings [GET]
# plans [GET POST]
# supplierissuers [GET]
# issuers/{id} [GET PUT DELETE]
# cashbalances [GET POST]
# expenseskus [GET POST]
# kanbanlanes/{id} [GET PUT DELETE]
# approvals/{id} [GET]
# payablefees/{id} [GET PUT DELETE]
# suppliercontacts [GET POST]
# productimages [GET POST]
# certificates/{id} [GET PUT]
# contracts/{id} [GET PUT]
# pricerules [GET POST]
# poslayoutkeys [GET POST]
# pricelistcategories [GET POST]
# integrationexports/{id} [PUT]
# pixcharges/{id} [GET PUT DELETE]
# cashiers [GET POST]
# persons/{id} [GET PUT DELETE]
# integrationtypes [GET]
# portfoliotags/{id} [GET PUT DELETE]
# ordertags [GET POST]
# excelimportlogs/{id} [GET PUT DELETE]
# skustates/{id} [GET PUT DELETE]
# ordercancel/{id} [PUT]
# filedownloads/{id} [GET]
# receptioninvoices [GET]
# futureprices/{id} [GET PUT DELETE]
# billingstatements/{id} [GET]
# distribtypes/{id} [GET]
# phonetypes/{id} [GET PUT DELETE]
# channels [GET POST]
# csvimports/{id} [GET DELETE]
# freightzones/{id} [GET PUT DELETE]
# freightregions/{id} [GET PUT DELETE]
# expenses [GET POST]
# costcenters [GET POST]
# dfebatches/{id} [GET PUT DELETE]
# freightbills/{id} [GET PUT DELETE]
# bankstatements [GET POST]
# orderflags [GET]
# icbsclassifications [GET]
# integrationvendors [GET]
# emailtemplatefields [GET]
# contractrun [POST]
# labeljobs/{id} [GET PUT DELETE]
# channelpriceconfigs/{id} [GET PUT DELETE]
# purchaseorderpayments/{id} [GET PUT DELETE]
# pixstatuses/{id} [GET]
# wacs/{id} [GET PUT DELETE]
# integrationoptions/{id} [GET]
# categorylinkitems/{id} [DELETE]
# baseactivities/{id} [GET PUT]
# taxclasses [GET POST]
# bankcollections/{id} [GET PUT DELETE]
# chartconfigs [GET POST]
# orderobjects [GET]
# phases [GET]
# bulkreceivables [POST]
# transactions [GET]
# groupmemberauths [GET POST]
# campaigns [GET POST]
# brands/{id} [GET PUT DELETE]
# channelpriceconfigs [GET POST]
# integrations/{id} [GET PUT DELETE]
# distribrefills [GET]
# helpmenuitems [GET]
# providers [GET POST]
# orderflags/{id} [GET]
# whatsappdevices/{id} [GET PUT DELETE]
# personprofiles [GET]
# salesfunnels [GET]
# cashiers/{id} [GET PUT DELETE]
# customertransactions [GET]
# catalogs [GET POST]
# installments [GET]
# usercompanies/{id} [GET PUT DELETE]
# futureprices [GET POST]
# ordermargins/{id} [GET PUT DELETE]
# dailyclosings/{id} [GET]
# pickingzones [GET POST]
# tables [GET POST]
# accounts [GET POST]
# receivablesaggs [GET]
# ips/{id} [GET PUT DELETE]
# danfes/{id} [GET]
# crossdockingskus/{id} [GET PUT DELETE]
# isclassifications [GET]
# serviceorders/{id} [GET PUT DELETE]
# useremails/{id} [GET PUT DELETE]
# skutransits [GET]
# crmtags/{id} [GET PUT DELETE]
# bulkinvoicepayments [POST]
# icbssituations/{id} [GET]
# menu [GET]
# customercontacts/{id} [GET PUT DELETE]
# dashboards [GET POST]
# shelfqueues [GET POST]
# pricelistcategories/{id} [GET PUT DELETE]
# importadditions/{id} [GET PUT DELETE]
# reports [GET]
# skuconfigs/{id} [GET PUT DELETE]
# pixcharges [GET POST]
# dailydeals [GET]
# dealnotes/{id} [GET PUT DELETE]
# buildings/{id} [GET PUT DELETE]
# orderpatches [POST]
# posterjobs [GET POST]
# paymentcodes/{id} [GET PUT DELETE]
# leadreasons [GET POST]
tags:
  - name: Accesscards
    description: Accesscards
  - name: Accessgroups
    description: Accessgroups
  - name: Accounts
    description: Accounts
  - name: Addresses
    description: Addresses
  - name: Addresstypes
    description: Addresstypes
  - name: Approvals
    description: Approvals
  - name: Articledetails
    description: Articledetails
  - name: Auditlogs
    description: Auditlogs
  - name: Bankaccounts
    description: Bankaccounts
  - name: Bankcollections
    description: Bankcollections
  - name: Banks
    description: Banks
  - name: Bankstatements
    description: Bankstatements
  - name: Bankstatsums
    description: Bankstatsums
  - name: Barcodes
    description: Barcodes
  - name: Baseactivities
    description: Baseactivities
  - name: Baseprocesses
    description: Baseprocesses
  - name: Batches
    description: Batches
  - name: Billings
    description: Billings
  - name: Billingstatements
    description: Billingstatements
  - name: Bizhours
    description: Bizhours
  - name: Bizschedules
    description: Bizschedules
  - name: Boletocommands
    description: Boletocommands
  - name: Boletos
    description: Boletos
  - name: Brands
    description: Brands
  - name: Buildings
    description: Buildings
  - name: Bulkbankstatements
    description: Bulkbankstatements
  - name: Bulkdeals
    description: Bulkdeals
  - name: Bulkhandlings
    description: Bulkhandlings
  - name: Bulkinvoicepayments
    description: Bulkinvoicepayments
  - name: Bulkpersons
    description: Bulkpersons
  - name: Bulkpurchases
    description: Bulkpurchases
  - name: Bulkreceivables
    description: Bulkreceivables
  - name: Bulksalesitems
    description: Bulksalesitems
  - name: Bulkskuconfigs
    description: Bulkskuconfigs
  - name: Bulkstocks
    description: Bulkstocks
  - name: Bulkvouchers
    description: Bulkvouchers
  - name: Buyers
    description: Buyers
  - name: Cachetables
    description: Cachetables
  - name: Campaignitems
    description: Campaignitems
  - name: Campaigns
    description: Campaigns
  - name: Carriers
    description: Carriers
  - name: Cashbalanceadjustments
    description: Cashbalanceadjustments
  - name: Cashbalances
    description: Cashbalances
  - name: Cashiers
    description: Cashiers
  - name: Cashierstats
    description: Cashierstats
  - name: Cataloglevels
    description: Cataloglevels
  - name: Catalogs
    description: Catalogs
  - name: Categories
    description: Categories
  - name: Categorylinks
    description: Categorylinks
  - name: Cbenefs
    description: Cbenefs
  - name: Certificates
    description: Certificates
  - name: Channelfreights
    description: Channelfreights
  - name: Channelpriceconfigs
    description: Channelpriceconfigs
  - name: Channels
    description: Channels
  - name: Chartconfigs
    description: Chartconfigs
  - name: Charts
    description: Charts
  - name: Cities
    description: Cities
  - name: Citydistricts
    description: Citydistricts
  - name: Citytaxes
    description: Citytaxes
  - name: Closings
    description: Closings
  - name: Cmmfs
    description: Cmmfs
  - name: Cnaes
    description: Cnaes
  - name: Cnpjs
    description: Cnpjs
  - name: Commissions
    description: Commissions
  - name: Commissiontypes
    description: Commissiontypes
  - name: Companies
    description: Companies
  - name: Contacttypes
    description: Contacttypes
  - name: Containeritems
    description: Containeritems
  - name: Contractrun
    description: Contractrun
  - name: Contracts
    description: Contracts
  - name: Costcenters
    description: Costcenters
  - name: Coupons
    description: Coupons
  - name: Covenants
    description: Covenants
  - name: Creditcardbrands
    description: Creditcardbrands
  - name: Crmtags
    description: Crmtags
  - name: Crossdockingitems
    description: Crossdockingitems
  - name: Crossdockings
    description: Crossdockings
  - name: Crossdockingskus
    description: Crossdockingskus
  - name: Cstinvoices
    description: Cstinvoices
  - name: Csts
    description: Csts
  - name: Csvexports
    description: Csvexports
  - name: Csvimporterrors
    description: Csvimporterrors
  - name: Csvimports
    description: Csvimports
  - name: Ctedocs
    description: Ctedocs
  - name: Ctes
    description: Ctes
  - name: Currencies
    description: Currencies
  - name: Curves
    description: Curves
  - name: Customercategories
    description: Customercategories
  - name: Customercontacts
    description: Customercontacts
  - name: Customeremails
    description: Customeremails
  - name: Customernotes
    description: Customernotes
  - name: Customerphones
    description: Customerphones
  - name: Customerpoints
    description: Customerpoints
  - name: Customertransactions
    description: Customertransactions
  - name: Dailyclosings
    description: Dailyclosings
  - name: Dailydeals
    description: Dailydeals
  - name: Dailyreceivables
    description: Dailyreceivables
  - name: Dailysales
    description: Dailysales
  - name: Dashboardmetrics
    description: Dashboardmetrics
  - name: Dashboards
    description: Dashboards
  - name: Dealnotes
    description: Dealnotes
  - name: Deals
    description: Deals
  - name: Dealtypes
    description: Dealtypes
  - name: Deliveries
    description: Deliveries
  - name: Deliverytypes
    description: Deliverytypes
  - name: Dfebatches
    description: Dfebatches
  - name: Distriborders
    description: Distriborders
  - name: Distribrefillitems
    description: Distribrefillitems
  - name: Distribrefills
    description: Distribrefills
  - name: Distribskus
    description: Distribskus
  - name: Distribtypes
    description: Distribtypes
  - name: Distributions
    description: Distributions
  - name: Documenttypes
    description: Documenttypes
  - name: Emails
    description: Emails
  - name: Emailtemplatefields
    description: Emailtemplatefields
  - name: Emailtemplates
    description: Emailtemplates
  - name: Emailtemplatetypes
    description: Emailtemplatetypes
  - name: Events
    description: Events
  - name: Excelimportlayouts
    description: Excelimportlayouts
  - name: Excelimportlogs
    description: Excelimportlogs
  - name: Excelimports
    description: Excelimports
  - name: Expensecategories
    description: Expensecategories
  - name: Expenses
    description: Expenses
  - name: Expenseskus
    description: Expenseskus
  - name: Freightbillbalances
    description: Freightbillbalances
  - name: Freightbillitems
    description: Freightbillitems
  - name: Freightbills
    description: Freightbills
  - name: Freightregions
    description: Freightregions
  - name: Freightzones
    description: Freightzones
  - name: Fulfillments
    description: Fulfillments
  - name: Funnelstages
    description: Funnelstages
  - name: Futureprices
    description: Futureprices
  - name: Giftcards
    description: Giftcards
  - name: Grouplevels
    description: Grouplevels
  - name: Groupmemberauths
    description: Groupmemberauths
  - name: Groupmembers
    description: Groupmembers
  - name: Handlingitems
    description: Handlingitems
  - name: Handlings
    description: Handlings
  - name: Helpmenuitems
    description: Helpmenuitems
  - name: Helppages
    description: Helppages
  - name: Holidays
    description: Holidays
  - name: Humanresources
    description: Humanresources
  - name: Ibptaxes
    description: Ibptaxes
  - name: Icbsclassifications
    description: Icbsclassifications
  - name: Icbssituations
    description: Icbssituations
  - name: Importadditionitems
    description: Importadditionitems
  - name: Importadditions
    description: Importadditions
  - name: Importadditiontaxes
    description: Importadditiontaxes
  - name: Importfees
    description: Importfees
  - name: Imports
    description: Imports
  - name: Incompleteopenings
    description: Incompleteopenings
  - name: Installmentplans
    description: Installmentplans
  - name: Installments
    description: Installments
  - name: Integrationconfigs
    description: Integrationconfigs
  - name: Integrationexports
    description: Integrationexports
  - name: Integrationoptions
    description: Integrationoptions
  - name: Integrationresponses
    description: Integrationresponses
  - name: Integrations
    description: Integrations
  - name: Integrationstatus
    description: Integrationstatus
  - name: Integrationtypes
    description: Integrationtypes
  - name: Integrationvendors
    description: Integrationvendors
  - name: Invoiceevents
    description: Invoiceevents
  - name: Invoicefixes
    description: Invoicefixes
  - name: Invoiceitems
    description: Invoiceitems
  - name: Invoicepayments
    description: Invoicepayments
  - name: Invoices
    description: Invoices
  - name: Invoicetypes
    description: Invoicetypes
  - name: Ips
    description: Ips
  - name: Isclassifications
    description: Isclassifications
  - name: Issituations
    description: Issituations
  - name: Issuers
    description: Issuers
  - name: Kanbanconfigs
    description: Kanbanconfigs
  - name: Kanbanitems
    description: Kanbanitems
  - name: Kanbanlanes
    description: Kanbanlanes
  - name: Kanbanlanetypes
    description: Kanbanlanetypes
  - name: Kanbanmenuactions
    description: Kanbanmenuactions
  - name: Kanbanmenuitems
    description: Kanbanmenuitems
  - name: Kanbans
    description: Kanbans
  - name: Kardexes
    description: Kardexes
  - name: Keyboardpayments
    description: Keyboardpayments
  - name: Keyboards
    description: Keyboards
  - name: Labeljobs
    description: Labeljobs
  - name: Labels
    description: Labels
  - name: Leadreasons
    description: Leadreasons
  - name: Leads
    description: Leads
  - name: Leadstages
    description: Leadstages
  - name: Leadstatuses
    description: Leadstatuses
  - name: Leadtimes
    description: Leadtimes
  - name: Locationlabels
    description: Locationlabels
  - name: Logout
    description: Logout
  - name: Logs
    description: Logs
  - name: Loyaltycustomers
    description: Loyaltycustomers
  - name: Loyaltyprograms
    description: Loyaltyprograms
  - name: Menu
    description: Menu
  - name: Menuitems
    description: Menuitems
  - name: Menureports
    description: Menureports
  - name: Metrics
    description: Metrics
  - name: Metricseries
    description: Metricseries
  - name: Modules
    description: Modules
  - name: Monthlysales
    description: Monthlysales
  - name: Movements
    description: Movements
  - name: Myplans
    description: Myplans
  - name: Nfes
    description: Nfes
  - name: Notificationconfigs
    description: Notificationconfigs
  - name: Notifications
    description: Notifications
  - name: Operationconfigs
    description: Operationconfigs
  - name: Operations
    description: Operations
  - name: Order5929
    description: Order5929
  - name: Ordercheckitems
    description: Ordercheckitems
  - name: Orderflags
    description: Orderflags
  - name: Orderflows
    description: Orderflows
  - name: Orderimport
    description: Orderimport
  - name: Orderintegrations
    description: Orderintegrations
  - name: Orderitems
    description: Orderitems
  - name: Orderlabels
    description: Orderlabels
  - name: Ordermargins
    description: Ordermargins
  - name: Ordernotes
    description: Ordernotes
  - name: Orderobjects
    description: Orderobjects
  - name: Orderorigins
    description: Orderorigins
  - name: Orderpatches
    description: Orderpatches
  - name: Orderpaymentlists
    description: Orderpaymentlists
  - name: Orderpayments
    description: Orderpayments
  - name: Orders
    description: Orders
  - name: Orderstatus
    description: Orderstatus
  - name: Ordertags
    description: Ordertags
  - name: Ordertrackings
    description: Ordertrackings
  - name: Ordervolumes
    description: Ordervolumes
  - name: Overdues
    description: Overdues
  - name: Packages
    description: Packages
  - name: Parameters
    description: Parameters
  - name: Payablefees
    description: Payablefees
  - name: Payables
    description: Payables
  - name: Payablesaggs
    description: Payablesaggs
  - name: Payforecasts
    description: Payforecasts
  - name: Paymentcodes
    description: Paymentcodes
  - name: Paymentlinks
    description: Paymentlinks
  - name: Paymentlinkstatus
    description: Paymentlinkstatus
  - name: Paymenttypes
    description: Paymenttypes
  - name: Pdflayouts
    description: Pdflayouts
  - name: Pdvparameters
    description: Pdvparameters
  - name: Personmargins
    description: Personmargins
  - name: Personproducts
    description: Personproducts
  - name: Personprofiles
    description: Personprofiles
  - name: Persons
    description: Persons
  - name: Phases
    description: Phases
  - name: Phonetypes
    description: Phonetypes
  - name: Pickingqueues
    description: Pickingqueues
  - name: Pickingzones
    description: Pickingzones
  - name: Pixcharges
    description: Pixcharges
  - name: Pixstatuses
    description: Pixstatuses
  - name: Planpaymentmethods
    description: Planpaymentmethods
  - name: Plans
    description: Plans
  - name: Portfoliocustomers
    description: Portfoliocustomers
  - name: Portfolios
    description: Portfolios
  - name: Portfoliotags
    description: Portfoliotags
  - name: Poslayoutkeys
    description: Poslayoutkeys
  - name: Postalcodes
    description: Postalcodes
  - name: Posterfields
    description: Posterfields
  - name: Posterjobs
    description: Posterjobs
  - name: Posters
    description: Posters
  - name: Postersizes
    description: Postersizes
  - name: Pricelistarticles
    description: Pricelistarticles
  - name: Pricelistcategories
    description: Pricelistcategories
  - name: Pricelists
    description: Pricelists
  - name: Priceroundingrules
    description: Priceroundingrules
  - name: Pricerules
    description: Pricerules
  - name: Productcategories
    description: Productcategories
  - name: Productimages
    description: Productimages
  - name: Products
    description: Products
  - name: Producttags
    description: Producttags
  - name: Prospects
    description: Prospects
  - name: Providers
    description: Providers
  - name: Purchasecostitems
    description: Purchasecostitems
  - name: Purchasecosts
    description: Purchasecosts
  - name: Purchaseitems
    description: Purchaseitems
  - name: Purchaseitemtaxes
    description: Purchaseitemtaxes
  - name: Purchasemappings
    description: Purchasemappings
  - name: Purchasenotes
    description: Purchasenotes
  - name: Purchaseorderitems
    description: Purchaseorderitems
  - name: Purchaseorderpayments
    description: Purchaseorderpayments
  - name: Purchaseorders
    description: Purchaseorders
  - name: Purchaseordertags
    description: Purchaseordertags
  - name: Purchaseplans
    description: Purchaseplans
  - name: Purchases
    description: Purchases
  - name: Purchaseshareitems
    description: Purchaseshareitems
  - name: Purchasetags
    description: Purchasetags
  - name: Purchasetaxes
    description: Purchasetaxes
  - name: Quotes
    description: Quotes
  - name: Reasons
    description: Reasons
  - name: Receivables
    description: Receivables
  - name: Receivablesaggs
    description: Receivablesaggs
  - name: Receivableslist
    description: Receivableslist
  - name: Receptioninvoices
    description: Receptioninvoices
  - name: Receptions
    description: Receptions
  - name: Receptionskus
    description: Receptionskus
  - name: Recharges
    description: Recharges
  - name: Rep201
    description: Rep201
  - name: Rep202
    description: Rep202
  - name: Rep203
    description: Rep203
  - name: Rep301
    description: Rep301
  - name: Rep302
    description: Rep302
  - name: Rep303
    description: Rep303
  - name: Rep304
    description: Rep304
  - name: Reportrows
    description: Reportrows
  - name: Reports
    description: Reports
  - name: Requests
    description: Requests
  - name: Results
    description: Results
  - name: Revenues
    description: Revenues
  - name: Rooms
    description: Rooms
  - name: Roundprices
    description: Roundprices
  - name: Sales
    description: Sales
  - name: Salescommissions
    description: Salescommissions
  - name: Salesfunnels
    description: Salesfunnels
  - name: Salesinstallments
    description: Salesinstallments
  - name: Salesitems
    description: Salesitems
  - name: Salesmonthlypayments
    description: Salesmonthlypayments
  - name: Salespayments
    description: Salespayments
  - name: Salespaymentslist
    description: Salespaymentslist
  - name: Salespersons
    description: Salespersons
  - name: Salessummaries
    description: Salessummaries
  - name: Scaleproducts
    description: Scaleproducts
  - name: Scalesectors
    description: Scalesectors
  - name: Scmanalyses
    description: Scmanalyses
  - name: Scmanalysisitems
    description: Scmanalysisitems
  - name: Scmconfigs
    description: Scmconfigs
  - name: Scmestimates
    description: Scmestimates
  - name: Scmprojectionlogs
    description: Scmprojectionlogs
  - name: Scmskus
    description: Scmskus
  - name: Scmtags
    description: Scmtags
  - name: Seasonalconfigs
    description: Seasonalconfigs
  - name: Seasonranges
    description: Seasonranges
  - name: Sendmails
    description: Sendmails
  - name: Serviceclasses
    description: Serviceclasses
  - name: Serviceorderitems
    description: Serviceorderitems
  - name: Serviceorders
    description: Serviceorders
  - name: Services
    description: Services
  - name: Settings
    description: Settings
  - name: Shelfqueues
    description: Shelfqueues
  - name: Skuarticles
    description: Skuarticles
  - name: Skucmms
    description: Skucmms
  - name: Skucmps
    description: Skucmps
  - name: Skuconfignotes
    description: Skuconfignotes
  - name: Skuconfigs
    description: Skuconfigs
  - name: Skucontainers
    description: Skucontainers
  - name: Skucurvedetails
    description: Skucurvedetails
  - name: Skucurves
    description: Skucurves
  - name: Skudailysales
    description: Skudailysales
  - name: Skugrids
    description: Skugrids
  - name: Skugroups
    description: Skugroups
  - name: Skumonthlysales
    description: Skumonthlysales
  - name: Skuparts
    description: Skuparts
  - name: Skuprices
    description: Skuprices
  - name: Skurankings
    description: Skurankings
  - name: Skureservations
    description: Skureservations
  - name: Skus
    description: Skus
  - name: Skusales
    description: Skusales
  - name: Skustates
    description: Skustates
  - name: Skustocks
    description: Skustocks
  - name: Skutransits
    description: Skutransits
  - name: Skutrends
    description: Skutrends
  - name: Skutypes
    description: Skutypes
  - name: Slipreasons
    description: Slipreasons
  - name: Snbrackets
    description: Snbrackets
  - name: Spedblockh
    description: Spedblockh
  - name: Spedblockhcnpj
    description: Spedblockhcnpj
  - name: Spedfiles
    description: Spedfiles
  - name: States
    description: States
  - name: Status
    description: Status
  - name: Statuses
    description: Statuses
  - name: Stockdailysummaries
    description: Stockdailysummaries
  - name: Stockmovements
    description: Stockmovements
  - name: Stocksectors
    description: Stocksectors
  - name: Stocksummaries
    description: Stocksummaries
  - name: Suppliercontacts
    description: Suppliercontacts
  - name: Supplierissuers
    description: Supplierissuers
  - name: Supplieritems
    description: Supplieritems
  - name: Suppliers
    description: Suppliers
  - name: Supplyitems
    description: Supplyitems
  - name: Systeminfo
    description: Systeminfo
  - name: Systemtasks
    description: Systemtasks
  - name: Tables
    description: Tables
  - name: Tasks
    description: Tasks
  - name: Tasktypes
    description: Tasktypes
  - name: Taxcfops
    description: Taxcfops
  - name: Taxclasses
    description: Taxclasses
  - name: Taxrates
    description: Taxrates
  - name: Tenants
    description: Tenants
  - name: Timelines
    description: Timelines
  - name: Tokens
    description: Tokens
  - name: Transactions
    description: Transactions
  - name: Transfers
    description: Transfers
  - name: Units
    description: Units
  - name: Userauths
    description: Userauths
  - name: Usercompanies
    description: Usercompanies
  - name: Useremails
    description: Useremails
  - name: Usergroups
    description: Usergroups
  - name: Users
    description: Users
  - name: Vendors
    description: Vendors
  - name: Voidnumbers
    description: Voidnumbers
  - name: Vouchermodels
    description: Vouchermodels
  - name: Vouchers
    description: Vouchers
  - name: Voucherstatuses
    description: Voucherstatuses
  - name: Vouchertags
    description: Vouchertags
  - name: Vouchertypes
    description: Vouchertypes
  - name: Wacrecords
    description: Wacrecords
  - name: Wacs
    description: Wacs
  - name: Webhookcalls
    description: Webhookcalls
  - name: Whatsappchats
    description: Whatsappchats
  - name: Whatsappdevices
    description: Whatsappdevices
  - name: Whatsappmessages
    description: Whatsappmessages
  - name: Wmsaisles
    description: Wmsaisles
  - name: Wmsinfos
    description: Wmsinfos
  - name: Xmlexports
    description: Xmlexports

paths:
  # ../v2api/api/v2accesscards.go (accesscards [GET POST])
  /accesscards:
# filtros = FilterAccessCards
    # modelo = JSONAccessCard
    get:
      operationId: get-accesscards
      tags:
        - Accesscards
      summary: Listagem de accesscards
      description: Atualiza cartões de acesso para uso no PDV
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaccesscard.yaml
    post:
      operationId: post-accesscards
      tags:
        - Accesscards
      summary: Cria um(a) accesscards
      description: Atualiza cartões de acesso para uso no PDV
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccesscard.yaml
  # ../v2api/api/v2accesscards.go (accesscards/{id} [GET PUT DELETE])
  /accesscards/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accesscards
    # modelo = JSONAccessCard
    get:
      operationId: get-accesscards-id
      tags:
        - Accesscards
      summary: Busca um(a) accesscards
      description: Atualiza cartões de acesso para uso no PDV
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonaccesscard.yaml
    put:
      operationId: put-accesscards-id
      tags:
        - Accesscards
      summary: Atualiza um(a) accesscards
      description: Atualiza cartões de acesso para uso no PDV
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-accesscards-id
      tags:
        - Accesscards
      summary: Deleta um(a) accesscards
      description: Atualiza cartões de acesso para uso no PDV
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2accessgroups.go (accessgroups [GET POST])
  /accessgroups:
# filtros = FilterAccessGroups
    # modelo = JSONAccessGroup
    get:
      operationId: get-accessgroups
      tags:
        - Accessgroups
      summary: Listagem de accessgroups
      description: = POST/PUT/DELETE /v2/reasons
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaccessgroup.yaml
    post:
      operationId: post-accessgroups
      tags:
        - Accessgroups
      summary: Cria um(a) accessgroups
      description: = POST/PUT/DELETE /v2/reasons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccessgroup.yaml
  # ../v2api/api/v2accessgroups.go (accessgroups/{id} [GET PUT])
  /accessgroups/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accessgroups
    # modelo = JSONAccessGroup
    get:
      operationId: get-accessgroups-id
      tags:
        - Accessgroups
      summary: Busca um(a) accessgroups
      description: = POST/PUT/DELETE /v2/reasons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonaccessgroup.yaml
    put:
      operationId: put-accessgroups-id
      tags:
        - Accessgroups
      summary: Atualiza um(a) accessgroups
      description: = POST/PUT/DELETE /v2/reasons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2accounts.go (accounts [GET POST])
  /accounts:
# filtros = FilterAccounts
    # modelo = JSONAccount
    get:
      operationId: get-accounts
      tags:
        - Accounts
      summary: Listagem de accounts
      description: = POST/PUT/DELETE /v2/accounts
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaccount.yaml
    post:
      operationId: post-accounts
      tags:
        - Accounts
      summary: Cria um(a) accounts
      description: = POST/PUT/DELETE /v2/accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccount.yaml
  # ../v2api/api/v2accounts.go (accounts/{id} [GET PUT DELETE])
  /accounts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accounts
    # modelo = JSONAccount
    get:
      operationId: get-accounts-id
      tags:
        - Accounts
      summary: Busca um(a) accounts
      description: = POST/PUT/DELETE /v2/accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonaccount.yaml
    put:
      operationId: put-accounts-id
      tags:
        - Accounts
      summary: Atualiza um(a) accounts
      description: = POST/PUT/DELETE /v2/accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-accounts-id
      tags:
        - Accounts
      summary: Deleta um(a) accounts
      description: = POST/PUT/DELETE /v2/accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2addresses.go (addresses [GET POST])
  /addresses:
# filtros = FilterAddresses
    # modelo = JSONCadPesEnder
    get:
      operationId: get-addresses
      tags:
        - Addresses
      summary: Listagem de addresses
      description: = POST v2/customers
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncadpesender.yaml
    post:
      operationId: post-addresses
      tags:
        - Addresses
      summary: Cria um(a) addresses
      description: = POST v2/customers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncadpesender.yaml
  # ../v2api/api/v2addresses.go (addresses/{id} [GET PUT DELETE])
  /addresses/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do addresses
    # modelo = JSONCadPesEnder
    get:
      operationId: get-addresses-id
      tags:
        - Addresses
      summary: Busca um(a) addresses
      description: = DELETE v2/addresses/:id
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsoncadpesender.yaml
    put:
      operationId: put-addresses-id
      tags:
        - Addresses
      summary: Atualiza um(a) addresses
      description: = DELETE v2/addresses/:id
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-addresses-id
      tags:
        - Addresses
      summary: Deleta um(a) addresses
      description: = DELETE v2/addresses/:id
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2addresstypes.go (addresstypes [GET POST])
  /addresstypes:
# filtros = FilterAddressTypes
    # modelo = JSONAddressType
    get:
      operationId: get-addresstypes
      tags:
        - Addresstypes
      summary: Listagem de addresstypes
      description: = POST/PUT/DELETE /v2/addresstypes
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaddresstype.yaml
    post:
      operationId: post-addresstypes
      tags:
        - Addresstypes
      summary: Cria um(a) addresstypes
      description: = POST/PUT/DELETE /v2/addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaddresstype.yaml
  # ../v2api/api/v2addresstypes.go (addresstypes/{id} [GET PUT DELETE])
  /addresstypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do addresstypes
    # modelo = JSONAddressType
    get:
      operationId: get-addresstypes-id
      tags:
        - Addresstypes
      summary: Busca um(a) addresstypes
      description: = POST/PUT/DELETE /v2/addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonaddresstype.yaml
    put:
      operationId: put-addresstypes-id
      tags:
        - Addresstypes
      summary: Atualiza um(a) addresstypes
      description: = POST/PUT/DELETE /v2/addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-addresstypes-id
      tags:
        - Addresstypes
      summary: Deleta um(a) addresstypes
      description: = POST/PUT/DELETE /v2/addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2approvals.go (approvals [GET])
  /approvals:
# filtros = FilterApprovals
    # modelo = 
    get:
      operationId: get-approvals
      tags:
        - Approvals
      summary: Listagem de approvals
      description: = GET v2/approvals
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2approvals.go (approvals/{id} [GET])
  /approvals/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do approvals
    # modelo = 
    get:
      operationId: get-approvals-id
      tags:
        - Approvals
      summary: Busca um(a) approvals
      description: = GET v2/approvals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2articledetails.go (articledetails [GET POST])
  /articledetails:
# filtros = FilterArticleDetails
    # modelo = JSONArticleDetail
    get:
      operationId: get-articledetails
      tags:
        - Articledetails
      summary: Listagem de articledetails
      description: = POST/PUT/DELETE /v2/articledetails
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonarticledetail.yaml
    post:
      operationId: post-articledetails
      tags:
        - Articledetails
      summary: Cria um(a) articledetails
      description: = POST/PUT/DELETE /v2/articledetails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonarticledetail.yaml
  # ../v2api/api/v2articledetails.go (articledetails/{id} [GET PUT DELETE])
  /articledetails/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do articledetails
    # modelo = JSONArticleDetail
    get:
      operationId: get-articledetails-id
      tags:
        - Articledetails
      summary: Busca um(a) articledetails
      description: = POST/PUT/DELETE /v2/articledetails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonarticledetail.yaml
    put:
      operationId: put-articledetails-id
      tags:
        - Articledetails
      summary: Atualiza um(a) articledetails
      description: = POST/PUT/DELETE /v2/articledetails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-articledetails-id
      tags:
        - Articledetails
      summary: Deleta um(a) articledetails
      description: = POST/PUT/DELETE /v2/articledetails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2auditlogs.go (auditlogs [GET])
  /auditlogs:
# filtros = FilterAuditLogs
    # modelo = 
    get:
      operationId: get-auditlogs
      tags:
        - Auditlogs
      summary: Listagem de auditlogs
      description: = GET v2/auditlogs
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bankaccounts.go (bankaccounts [GET POST])
  /bankaccounts:
# filtros = FilterBankAccounts
    # modelo = JSONBankAccount
    get:
      operationId: get-bankaccounts
      tags:
        - Bankaccounts
      summary: Listagem de bankaccounts
      description: = POST/PUT/DELETE /v2/bankaccounts
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbankaccount.yaml
    post:
      operationId: post-bankaccounts
      tags:
        - Bankaccounts
      summary: Cria um(a) bankaccounts
      description: = POST/PUT/DELETE /v2/bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankaccount.yaml
  # ../v2api/api/v2bankaccounts.go (bankaccounts/{id} [GET DELETE PUT])
  /bankaccounts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankaccounts
    # modelo = JSONBankAccount
    get:
      operationId: get-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Busca um(a) bankaccounts
      description: = POST/PUT/DELETE /v2/bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbankaccount.yaml
    delete:
      operationId: delete-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Deleta um(a) bankaccounts
      description: = POST/PUT/DELETE /v2/bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Atualiza um(a) bankaccounts
      description: = POST/PUT/DELETE /v2/bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bankcollections.go (bankcollections [GET POST])
  /bankcollections:
# filtros = FilterBankCollections
    # modelo = JSONBankCollection
    get:
      operationId: get-bankcollections
      tags:
        - Bankcollections
      summary: Listagem de bankcollections
      description: = POST v2/bankcollections
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbankcollection.yaml
    post:
      operationId: post-bankcollections
      tags:
        - Bankcollections
      summary: Cria um(a) bankcollections
      description: = POST v2/bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankcollection.yaml
  # ../v2api/api/v2bankcollections.go (bankcollections/{id} [GET PUT DELETE])
  /bankcollections/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankcollections
    # modelo = JSONBankCollection
    get:
      operationId: get-bankcollections-id
      tags:
        - Bankcollections
      summary: Busca um(a) bankcollections
      description: = PUT/DELETE /v2/bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbankcollection.yaml
    put:
      operationId: put-bankcollections-id
      tags:
        - Bankcollections
      summary: Atualiza um(a) bankcollections
      description: = PUT/DELETE /v2/bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bankcollections-id
      tags:
        - Bankcollections
      summary: Deleta um(a) bankcollections
      description: = PUT/DELETE /v2/bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2banks.go (banks [GET])
  /banks:
# filtros = FilterBanks
    # modelo = 
    get:
      operationId: get-banks
      tags:
        - Banks
      summary: Listagem de banks
      description: = GET v2/banks
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bankstatements.go (bankstatements [GET POST])
  /bankstatements:
# filtros = FilterBankStatements
    # modelo = JSONBankStatement
    get:
      operationId: get-bankstatements
      tags:
        - Bankstatements
      summary: Listagem de bankstatements
      description: = POST/PUT/DELETE /v2/bankstatements
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbankstatement.yaml
    post:
      operationId: post-bankstatements
      tags:
        - Bankstatements
      summary: Cria um(a) bankstatements
      description: = POST/PUT/DELETE /v2/bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankstatement.yaml
  # ../v2api/api/v2bankstatements.go (bankstatements/{id} [GET DELETE PUT])
  /bankstatements/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankstatements
    # modelo = JSONBankStatement
    get:
      operationId: get-bankstatements-id
      tags:
        - Bankstatements
      summary: Busca um(a) bankstatements
      description: = POST/PUT/DELETE /v2/bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbankstatement.yaml
    delete:
      operationId: delete-bankstatements-id
      tags:
        - Bankstatements
      summary: Deleta um(a) bankstatements
      description: = POST/PUT/DELETE /v2/bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-bankstatements-id
      tags:
        - Bankstatements
      summary: Atualiza um(a) bankstatements
      description: = POST/PUT/DELETE /v2/bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bankstatsums.go (bankstatsums [GET])
  /bankstatsums:
# filtros = FilterBankStatSums
    # modelo = 
    get:
      operationId: get-bankstatsums
      tags:
        - Bankstatsums
      summary: Listagem de bankstatsums
      description: = GET v2/bankstatsums
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2barcodes.go (barcodes [GET POST])
  /barcodes:
# filtros = FilterBarcodes
    # modelo = JSONBarcode
    get:
      operationId: get-barcodes
      tags:
        - Barcodes
      summary: Listagem de barcodes
      description: = POST/PUT/DELETE /v2/barcodes
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbarcode.yaml
    post:
      operationId: post-barcodes
      tags:
        - Barcodes
      summary: Cria um(a) barcodes
      description: = POST/PUT/DELETE /v2/barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbarcode.yaml
  # ../v2api/api/v2barcodes.go (barcodes/{id} [GET PUT DELETE])
  /barcodes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do barcodes
    # modelo = JSONBarcode
    get:
      operationId: get-barcodes-id
      tags:
        - Barcodes
      summary: Busca um(a) barcodes
      description: = POST/PUT/DELETE /v2/barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbarcode.yaml
    put:
      operationId: put-barcodes-id
      tags:
        - Barcodes
      summary: Atualiza um(a) barcodes
      description: = POST/PUT/DELETE /v2/barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-barcodes-id
      tags:
        - Barcodes
      summary: Deleta um(a) barcodes
      description: = POST/PUT/DELETE /v2/barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2baseactivities.go (baseactivities [GET POST])
  /baseactivities:
# filtros = Filterbaseactivities
    # modelo = JSONBaseActivity
    get:
      operationId: get-baseactivities
      tags:
        - Baseactivities
      summary: Listagem de baseactivities
      description: = PUT v2/baseactivities
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbaseactivity.yaml
    post:
      operationId: post-baseactivities
      tags:
        - Baseactivities
      summary: Cria um(a) baseactivities
      description: = PUT v2/baseactivities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbaseactivity.yaml
  # ../v2api/api/v2baseactivities.go (baseactivities/{id} [GET PUT])
  /baseactivities/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do baseactivities
    # modelo = JSONBaseActivity
    get:
      operationId: get-baseactivities-id
      tags:
        - Baseactivities
      summary: Busca um(a) baseactivities
      description: = PUT v2/baseactivities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbaseactivity.yaml
    put:
      operationId: put-baseactivities-id
      tags:
        - Baseactivities
      summary: Atualiza um(a) baseactivities
      description: = PUT v2/baseactivities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2baseprocesses.go (baseprocesses [GET])
  /baseprocesses:
# filtros = FilterBaseProcesses
    # modelo = 
    get:
      operationId: get-baseprocesses
      tags:
        - Baseprocesses
      summary: Listagem de baseprocesses
      description: = GET v2/baseprocesses
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2batches.go (batches [POST GET])
  /batches:
# filtros = FilterBatches
    # modelo = 
    post:
      operationId: post-batches
      tags:
        - Batches
      summary: Cria um(a) batches
      description: = GET v2/batches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    get:
      operationId: get-batches
      tags:
        - Batches
      summary: Listagem de batches
      description: = GET v2/batches
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2batches.go (batches/{id} [GET])
  /batches/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do batches
    # modelo = 
    get:
      operationId: get-batches-id
      tags:
        - Batches
      summary: Busca um(a) batches
      description: = GET v2/batches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2billings.go (billings [GET])
  /billings:
# filtros = FilterBillings
    # modelo = JSONBilling
    get:
      operationId: get-billings
      tags:
        - Billings
      summary: Listagem de billings
      description: = GET v2/billings
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbilling.yaml
  # ../v2api/api/v2billings.go (billings/{id} [GET PUT])
  /billings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do billings
    # modelo = JSONBilling
    get:
      operationId: get-billings-id
      tags:
        - Billings
      summary: Busca um(a) billings
      description: = PUT /v2/billings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbilling.yaml
    put:
      operationId: put-billings-id
      tags:
        - Billings
      summary: Atualiza um(a) billings
      description: = PUT /v2/billings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2billingstatements.go (billingstatements [GET])
  /billingstatements:
# filtros = FilterBillingStatements
    # modelo = 
    get:
      operationId: get-billingstatements
      tags:
        - Billingstatements
      summary: Listagem de billingstatements
      description: = GET v2/billingstatements
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2billingstatements.go (billingstatements/{id} [GET])
  /billingstatements/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do billingstatements
    # modelo = 
    get:
      operationId: get-billingstatements-id
      tags:
        - Billingstatements
      summary: Busca um(a) billingstatements
      description: = GET v2/billingstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bizhours.go (bizhours [GET POST])
  /bizhours:
# filtros = FilterBizHours
    # modelo = JSONBizHour
    get:
      operationId: get-bizhours
      tags:
        - Bizhours
      summary: Listagem de bizhours
      description: = POST/PUT/DELETE /v2/bizhours
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbizhour.yaml
    post:
      operationId: post-bizhours
      tags:
        - Bizhours
      summary: Cria um(a) bizhours
      description: = POST/PUT/DELETE /v2/bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbizhour.yaml
  # ../v2api/api/v2bizhours.go (bizhours/{id} [GET PUT DELETE])
  /bizhours/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bizhours
    # modelo = JSONBizHour
    get:
      operationId: get-bizhours-id
      tags:
        - Bizhours
      summary: Busca um(a) bizhours
      description: = POST/PUT/DELETE /v2/bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbizhour.yaml
    put:
      operationId: put-bizhours-id
      tags:
        - Bizhours
      summary: Atualiza um(a) bizhours
      description: = POST/PUT/DELETE /v2/bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bizhours-id
      tags:
        - Bizhours
      summary: Deleta um(a) bizhours
      description: = POST/PUT/DELETE /v2/bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bizschedules.go (bizschedules [GET POST])
  /bizschedules:
# filtros = FilterBizSchedules
    # modelo = JSONBizSchedule
    get:
      operationId: get-bizschedules
      tags:
        - Bizschedules
      summary: Listagem de bizschedules
      description: = POST/PUT/DELETE /v2/bizschedules
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbizschedule.yaml
    post:
      operationId: post-bizschedules
      tags:
        - Bizschedules
      summary: Cria um(a) bizschedules
      description: = POST/PUT/DELETE /v2/bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbizschedule.yaml
  # ../v2api/api/v2bizschedules.go (bizschedules/{id} [GET PUT DELETE])
  /bizschedules/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bizschedules
    # modelo = JSONBizSchedule
    get:
      operationId: get-bizschedules-id
      tags:
        - Bizschedules
      summary: Busca um(a) bizschedules
      description: = POST/PUT/DELETE /v2/bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbizschedule.yaml
    put:
      operationId: put-bizschedules-id
      tags:
        - Bizschedules
      summary: Atualiza um(a) bizschedules
      description: = POST/PUT/DELETE /v2/bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bizschedules-id
      tags:
        - Bizschedules
      summary: Deleta um(a) bizschedules
      description: = POST/PUT/DELETE /v2/bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2boletocommands.go (boletocommands [GET])
  /boletocommands:
    # modelo = 
    get:
      operationId: get-boletocommands
      tags:
        - Boletocommands
      summary: Listagem de boletocommands
      description: = GET v2/boletocommands
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2boletos.go (boletos [GET])
  /boletos:
# filtros = FilterBoletos
    # modelo = JSONBoleto
    get:
      operationId: get-boletos
      tags:
        - Boletos
      summary: Listagem de boletos
      description: = GET v2/boletos
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonboleto.yaml
  # ../v2api/api/v2boletos.go (boletos/{id} [GET PUT DELETE])
  /boletos/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do boletos
    # modelo = JSONBoleto
    get:
      operationId: get-boletos-id
      tags:
        - Boletos
      summary: Busca um(a) boletos
      description: = DELETE v2/boletos
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonboleto.yaml
    put:
      operationId: put-boletos-id
      tags:
        - Boletos
      summary: Atualiza um(a) boletos
      description: = DELETE v2/boletos
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-boletos-id
      tags:
        - Boletos
      summary: Deleta um(a) boletos
      description: = DELETE v2/boletos
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2brands.go (brands [GET POST])
  /brands:
# filtros = FilterBrands
    # modelo = JSONBrand
    get:
      operationId: get-brands
      tags:
        - Brands
      summary: Listagem de brands
      description: = POST/PUT/DELETE /v2/portfolios
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbrand.yaml
    post:
      operationId: post-brands
      tags:
        - Brands
      summary: Cria um(a) brands
      description: = POST/PUT/DELETE /v2/portfolios
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbrand.yaml
  # ../v2api/api/v2brands.go (brands/{id} [GET PUT DELETE])
  /brands/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do brands
    # modelo = JSONBrand
    get:
      operationId: get-brands-id
      tags:
        - Brands
      summary: Busca um(a) brands
      description: = POST/PUT/DELETE /v2/portfolios
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbrand.yaml
    put:
      operationId: put-brands-id
      tags:
        - Brands
      summary: Atualiza um(a) brands
      description: = POST/PUT/DELETE /v2/portfolios
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-brands-id
      tags:
        - Brands
      summary: Deleta um(a) brands
      description: = POST/PUT/DELETE /v2/portfolios
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2buildings.go (buildings [GET POST])
  /buildings:
# filtros = FilterBuildings
    # modelo = JSONBuilding
    get:
      operationId: get-buildings
      tags:
        - Buildings
      summary: Listagem de buildings
      description: = POST/PUT/DELETE /v2/buildings
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbuilding.yaml
    post:
      operationId: post-buildings
      tags:
        - Buildings
      summary: Cria um(a) buildings
      description: = POST/PUT/DELETE /v2/buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbuilding.yaml
  # ../v2api/api/v2buildings.go (buildings/{id} [GET PUT DELETE])
  /buildings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do buildings
    # modelo = JSONBuilding
    get:
      operationId: get-buildings-id
      tags:
        - Buildings
      summary: Busca um(a) buildings
      description: = POST/PUT/DELETE /v2/buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbuilding.yaml
    put:
      operationId: put-buildings-id
      tags:
        - Buildings
      summary: Atualiza um(a) buildings
      description: = POST/PUT/DELETE /v2/buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-buildings-id
      tags:
        - Buildings
      summary: Deleta um(a) buildings
      description: = POST/PUT/DELETE /v2/buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2bulkbankstatements.go (bulkbankstatements [POST])
  /bulkbankstatements:
    # modelo = JSONBulkBankStatements
    post:
      operationId: post-bulkbankstatements
      tags:
        - Bulkbankstatements
      summary: Cria um(a) bulkbankstatements
      description: = POST /v2/bulkbankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkbankstatements.yaml
  # ../v2api/api/v2bulkdeals.go (bulkdeals [POST])
  /bulkdeals:
    # modelo = JSONBulkDeals
    post:
      operationId: post-bulkdeals
      tags:
        - Bulkdeals
      summary: Cria um(a) bulkdeals
      description: = POST /v2/bulkdeals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkdeals.yaml
  # ../v2api/api/v2bulkhandlings.go (bulkhandlings [POST])
  /bulkhandlings:
    # modelo = JSONBulkOrders
    post:
      operationId: post-bulkhandlings
      tags:
        - Bulkhandlings
      summary: Cria um(a) bulkhandlings
      description: = POST /v2/bulkhandlings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkorders.yaml
  # ../v2api/api/v2bulkinvoicepayments.go (bulkinvoicepayments [POST])
  /bulkinvoicepayments:
    # modelo = JSONBulkInvoicePayments
    post:
      operationId: post-bulkinvoicepayments
      tags:
        - Bulkinvoicepayments
      summary: Cria um(a) bulkinvoicepayments
      description: = POST /v2/bulkinvoicepayments
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkinvoicepayments.yaml
  # ../v2api/api/v2bulkpersons.go (bulkpersons [POST])
  /bulkpersons:
    # modelo = JSONBulkPersons
    post:
      operationId: post-bulkpersons
      tags:
        - Bulkpersons
      summary: Cria um(a) bulkpersons
      description: = POST /v2/bulkpersons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkpersons.yaml
  # ../v2api/api/v2bulkpurchases.go (bulkpurchases [POST])
  /bulkpurchases:
    # modelo = JSONBulkPurchases
    post:
      operationId: post-bulkpurchases
      tags:
        - Bulkpurchases
      summary: Cria um(a) bulkpurchases
      description: = POST /v2/bulkpurchases
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkpurchases.yaml
  # ../v2api/api/v2bulkreceivables.go (bulkreceivables [POST])
  /bulkreceivables:
    # modelo = JSONBulkReceivables
    post:
      operationId: post-bulkreceivables
      tags:
        - Bulkreceivables
      summary: Cria um(a) bulkreceivables
      description: = POST /v2/bulkreceivables
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkreceivables.yaml
  # ../v2api/api/v2bulksalesitems.go (bulksalesitems [POST])
  /bulksalesitems:
    # modelo = JSONBulkSalesItems
    post:
      operationId: post-bulksalesitems
      tags:
        - Bulksalesitems
      summary: Cria um(a) bulksalesitems
      description: = POST /v2/bulksalesitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulksalesitems.yaml
  # ../v2api/api/v2bulkskuconfigs.go (bulkskuconfigs [POST])
  /bulkskuconfigs:
    # modelo = JSONBulkSkuConfigs
    post:
      operationId: post-bulkskuconfigs
      tags:
        - Bulkskuconfigs
      summary: Cria um(a) bulkskuconfigs
      description: = POST /v2/bulkskuconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkskuconfigs.yaml
  # ../v2api/api/v2bulkstocks.go (bulkstocks [POST])
  /bulkstocks:
    # modelo = JSONBulkStocks
    post:
      operationId: post-bulkstocks
      tags:
        - Bulkstocks
      summary: Cria um(a) bulkstocks
      description: = POST /v2/bulkstocks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkstocks.yaml
  # ../v2api/api/v2bulkvouchers.go (bulkvouchers [POST])
  /bulkvouchers:
    # modelo = JSONBulkVouchers
    post:
      operationId: post-bulkvouchers
      tags:
        - Bulkvouchers
      summary: Cria um(a) bulkvouchers
      description: = POST /v2/bulkdeals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkvouchers.yaml
  # ../v2api/api/v2buyers.go (buyers [GET POST])
  /buyers:
# filtros = FilterBuyers
    # modelo = JSONBuyer
    get:
      operationId: get-buyers
      tags:
        - Buyers
      summary: Listagem de buyers
      description: = POST/PUT/DELETE /v2/buyers
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbuyer.yaml
    post:
      operationId: post-buyers
      tags:
        - Buyers
      summary: Cria um(a) buyers
      description: = POST/PUT/DELETE /v2/buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbuyer.yaml
  # ../v2api/api/v2buyers.go (buyers/{id} [GET PUT DELETE])
  /buyers/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do buyers
    # modelo = JSONBuyer
    get:
      operationId: get-buyers-id
      tags:
        - Buyers
      summary: Busca um(a) buyers
      description: = POST/PUT/DELETE /v2/buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsonbuyer.yaml
    put:
      operationId: put-buyers-id
      tags:
        - Buyers
      summary: Atualiza um(a) buyers
      description: = POST/PUT/DELETE /v2/buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-buyers-id
      tags:
        - Buyers
      summary: Deleta um(a) buyers
      description: = POST/PUT/DELETE /v2/buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2cachetables.go (cachetables [POST])
  /cachetables:
    # modelo = 
    post:
      operationId: post-cachetables
      tags:
        - Cachetables
      summary: Cria um(a) cachetables
      description: = POST v2/cachetables
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2campaignitems.go (campaignitems [GET POST])
  /campaignitems:
# filtros = FilterCampaignItems
    # modelo = JSONCampItem
    get:
      operationId: get-campaignitems
      tags:
        - Campaignitems
      summary: Listagem de campaignitems
      description: = POST/PUT/DELETE /v2/campaigns
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncampitem.yaml
    post:
      operationId: post-campaignitems
      tags:
        - Campaignitems
      summary: Cria um(a) campaignitems
      description: = POST/PUT/DELETE /v2/campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncampitem.yaml
  # ../v2api/api/v2campaignitems.go (campaignitems/{id} [GET PUT DELETE])
  /campaignitems/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do campaignitems
    # modelo = JSONCampItem
    get:
      operationId: get-campaignitems-id
      tags:
        - Campaignitems
      summary: Busca um(a) campaignitems
      description: = POST/PUT/DELETE /v2/campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsoncampitem.yaml
    put:
      operationId: put-campaignitems-id
      tags:
        - Campaignitems
      summary: Atualiza um(a) campaignitems
      description: = POST/PUT/DELETE /v2/campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-campaignitems-id
      tags:
        - Campaignitems
      summary: Deleta um(a) campaignitems
      description: = POST/PUT/DELETE /v2/campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  # ../v2api/api/v2campaigns.go (campaigns [GET POST])
  /campaigns:
# filtros = FilterCampaigns
    # modelo = JSONCampaign
    get:
      operationId: get-campaigns
      tags:
        - Campaigns
      summary: Listagem de campaigns
      description: = POST/PUT/DELETE /v2/campaigns
      parameters:
        - $ref: "#/components/parameters/Filter"
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncampaign.yaml
    post:
      operationId: post-campaigns
      tags:
        - Campaigns
      summary: Cria um(a) campaigns
      description: = POST/PUT/DELETE /v2/campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncampaign.yaml
  # ../v2api/api/v2campaigns.go (campaigns/{id} [GET PUT DELETE])
  /campaigns/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do campaigns
    # modelo = JSONCampaign
    get:
      operationId: get-campaigns-id
      tags:
        - Campaigns
      summary: Busca um(a) campaigns
      description: = POST/PUT/DELETE /v2/campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
          content:
            application/json:
              schema:
                $ref: ./models/jsoncampaign.yaml
    put:
      operationId: put-campaigns-id
      tags:
        - Campaigns
      summary: Atualiza um(a) campaigns
[...]
