### 1466 models (328/328 extras)
openapi: 3.0.3
info:
  title: RNGE API
  version: 1.0.0
  license:
    name: Copyright (C) Rednaxel Informática
    url: "https://rednaxel.com"
  termsOfService: "https://rednaxel.com/termos-de-uso"
  contact:
    name: Suporte
    email: suporte@rednaxel.com
    url: "https://suporte.rednaxel.com"
  x-logo:
    url: "https://storage.googleapis.com/rednaxel-dados/rednaxel-264.png"
    altText: Logo da Rednaxel
  description: |
    Utilizamos o **Authorization** de duas formas:
    - No `POST /login`, **Basic** com username = `usuario@tenant` e password = `senha`
    - Nos demais recursos utilizar **Bearer** `token` (obtido no login)

    ## Definições

    **Tenant\:** Conta do cliente na Rednaxel. O tenant pode ter uma ou empresas que podem ser filiais (mesma raiz de CNPJ) ou não.

    **Usuário\:** Cada usuário pertence a um tenant e tem um `user_id` global e um `nome_usuario` único dentro do tenant.

    ## Padrões

    Todos os GET usam os parâmetros "filter", "sort" e "range" da seguinte forma:

     | Parâmetro  | Formato | URL Query                              | SQL equivalente       |
     |------------|---------|----------------------------------------|-----------------------|
     | filter     |  JSON   | GET v2/resources?filter={"store":34}   | ... WHERE store = 34  |
     | sort       |  CSV    | GET v2/resources?sort=\["name","ASC"\] | ... ORDER BY name asc |
     | range      |  CSV    | GET v2/resources?range=\[0,9\]         | ... OFFSET 0 LIMIT 10 |

    Esta API utiliza o padrão REST e autenticação HTTP Bearer (RFC 6750) em todos os recursos, exceto no login, que usa AuthBasic (RFC 7617).

    O formato padrão de requisição e resposta é o JSON na maioria dos recursos; as exceções são os que trabalham com Notas Fiscais (XML) ou documentos para impressão (PDF).

    Cuidado com a paginação: quando o `range` não for informado a API utilizará o padrão [0,99].

servers:
  - url: "https://homolog.rnge.com.br/v2"
    description: Homologação
  - url: "https://rnge.com.br/v2"
    description: Produção

components:
  parameters:
    Range:
      name: range
      in: query
      schema:
        minItems: 1
        maxItems: 2
        items:
          type: integer
          format: int32
        default: "[0,99]"
        example: "[0,99]"
      description: Paginação
      explode: true
      style: form
      required: true
    Sort:
      name: sort
      in: query
      required: false
      schema:
        type: array
        items:
          type: object
          properties:
            id:
              type: integer
            desc:
              type: string
      description: Ordenação
  securitySchemes:
    TokenAcesso:
      type: http
      scheme: bearer
      description: ""

security:
  - TokenAcesso: []


tags:
  - name: Accesscards
    description: Cartões de Acesso de usuários, para uso no PDV
  - name: Accessgroups
    description: Accessgroups
  - name: Accounts
    description: Accounts
  - name: Addresses
    description: Addresses
  - name: Addresstypes
    description: Addresstypes
  - name: Approvals
    description: Approvals
  - name: Articledetails
    description: Articledetails
  - name: Auditlogs
    description: Auditlogs
  - name: Bankaccounts
    description: Bankaccounts
  - name: Bankcollections
    description: Bankcollections
  - name: Banks
    description: Banks
  - name: Bankstatements
    description: Bankstatements
  - name: Bankstatsums
    description: Bankstatsums
  - name: Barcodes
    description: Barcodes
  - name: Baseactivities
    description: Baseactivities
  - name: Baseprocesses
    description: Baseprocesses
  - name: Batches
    description: Batches
  - name: Billings
    description: Billings
  - name: Billingstatements
    description: Billingstatements
  - name: Bizhours
    description: Bizhours
  - name: Bizschedules
    description: Bizschedules
  - name: Boletocommands
    description: Boletocommands
  - name: Boletos
    description: Boletos
  - name: Brands
    description: Brands
  - name: Buildings
    description: Buildings
  - name: Bulkbankstatements
    description: Bulkbankstatements
  - name: Bulkdeals
    description: Bulkdeals
  - name: Bulkhandlings
    description: Bulkhandlings
  - name: Bulkinvoicepayments
    description: Bulkinvoicepayments
  - name: Bulkpersons
    description: Bulkpersons
  - name: Bulkpurchases
    description: Bulkpurchases
  - name: Bulkreceivables
    description: Bulkreceivables
  - name: Bulksalesitems
    description: Bulksalesitems
  - name: Bulkskuconfigs
    description: Bulkskuconfigs
  - name: Bulkstocks
    description: Bulkstocks
  - name: Bulkvouchers
    description: Bulkvouchers
  - name: Buyers
    description: Buyers
  - name: Cachetables
    description: Cachetables
  - name: Campaignitems
    description: Campaignitems
  - name: Campaigns
    description: Campaigns
  - name: Carriers
    description: Carriers
  - name: Cashbalanceadjustments
    description: Cashbalanceadjustments
  - name: Cashbalances
    description: Cashbalances
  - name: Cashiers
    description: Cashiers
  - name: Cashierstats
    description: Cashierstats
  - name: Cataloglevels
    description: Cataloglevels
  - name: Catalogs
    description: Catalogs
  - name: Categories
    description: Categories
  - name: Categorylinks
    description: Categorylinks
  - name: Cbenefs
    description: Cbenefs
  - name: Certificates
    description: Certificates
  - name: Channelfreights
    description: Channelfreights
  - name: Channelpriceconfigs
    description: Channelpriceconfigs
  - name: Channels
    description: Channels
  - name: Chartconfigs
    description: Chartconfigs
  - name: Charts
    description: Charts
  - name: Cities
    description: Cities
  - name: Citydistricts
    description: Citydistricts
  - name: Citytaxes
    description: Citytaxes
  - name: Closings
    description: Closings
  - name: Cmmfs
    description: Cmmfs
  - name: Cnaes
    description: Cnaes
  - name: Cnpjs
    description: Cnpjs
  - name: Commissions
    description: Commissions
  - name: Commissiontypes
    description: Commissiontypes
  - name: Companies
    description: Companies
  - name: Contacttypes
    description: Contacttypes
  - name: Containeritems
    description: Containeritems
  - name: Contractrun
    description: Contractrun
  - name: Contracts
    description: Contracts
  - name: Costcenters
    description: Costcenters
  - name: Coupons
    description: Coupons
  - name: Covenants
    description: Covenants
  - name: Creditcardbrands
    description: Creditcardbrands
  - name: Crmtags
    description: Crmtags
  - name: Crossdockingitems
    description: Crossdockingitems
  - name: Crossdockings
    description: Crossdockings
  - name: Crossdockingskus
    description: Crossdockingskus
  - name: Cstinvoices
    description: Cstinvoices
  - name: Csts
    description: Csts
  - name: Csvexports
    description: Csvexports
  - name: Csvimporterrors
    description: Csvimporterrors
  - name: Csvimports
    description: Csvimports
  - name: Ctedocs
    description: Ctedocs
  - name: Ctes
    description: Ctes
  - name: Currencies
    description: Currencies
  - name: Curves
    description: Curves
  - name: Customercategories
    description: Customercategories
  - name: Customercontacts
    description: Customercontacts
  - name: Customeremails
    description: Customeremails
  - name: Customernotes
    description: Customernotes
  - name: Customerphones
    description: Customerphones
  - name: Customerpoints
    description: Customerpoints
  - name: Customertransactions
    description: Customertransactions
  - name: Dailyclosings
    description: Dailyclosings
  - name: Dailydeals
    description: Dailydeals
  - name: Dailyreceivables
    description: Dailyreceivables
  - name: Dailysales
    description: Dailysales
  - name: Dashboardmetrics
    description: Dashboardmetrics
  - name: Dashboards
    description: Dashboards
  - name: Dealnotes
    description: Dealnotes
  - name: Deals
    description: Deals
  - name: Dealtypes
    description: Dealtypes
  - name: Deliveries
    description: Deliveries
  - name: Deliverytypes
    description: Deliverytypes
  - name: Dfebatches
    description: Dfebatches
  - name: Distriborders
    description: Distriborders
  - name: Distribrefillitems
    description: Distribrefillitems
  - name: Distribrefills
    description: Distribrefills
  - name: Distribskus
    description: Distribskus
  - name: Distribtypes
    description: Distribtypes
  - name: Distributions
    description: Distributions
  - name: Documenttypes
    description: Documenttypes
  - name: Emails
    description: Emails
  - name: Emailtemplatefields
    description: Emailtemplatefields
  - name: Emailtemplates
    description: Emailtemplates
  - name: Emailtemplatetypes
    description: Emailtemplatetypes
  - name: Events
    description: Events
  - name: Excelimportlayouts
    description: Excelimportlayouts
  - name: Excelimportlogs
    description: Excelimportlogs
  - name: Excelimports
    description: Excelimports
  - name: Expensecategories
    description: Expensecategories
  - name: Expenses
    description: Expenses
  - name: Expenseskus
    description: Expenseskus
  - name: Freightbillbalances
    description: Freightbillbalances
  - name: Freightbillitems
    description: Freightbillitems
  - name: Freightbills
    description: Freightbills
  - name: Freightregions
    description: Freightregions
  - name: Freightzones
    description: Freightzones
  - name: Fulfillments
    description: Fulfillments
  - name: Funnelstages
    description: Funnelstages
  - name: Futureprices
    description: Futureprices
  - name: Giftcards
    description: Giftcards
  - name: Grouplevels
    description: Grouplevels
  - name: Groupmemberauths
    description: Groupmemberauths
  - name: Groupmembers
    description: Groupmembers
  - name: Handlingitems
    description: Handlingitems
  - name: Handlings
    description: Handlings
  - name: Helpmenuitems
    description: Helpmenuitems
  - name: Helppages
    description: Helppages
  - name: Holidays
    description: Holidays
  - name: Humanresources
    description: Humanresources
  - name: Ibptaxes
    description: Ibptaxes
  - name: Icbsclassifications
    description: Icbsclassifications
  - name: Icbssituations
    description: Icbssituations
  - name: Importadditionitems
    description: Importadditionitems
  - name: Importadditions
    description: Importadditions
  - name: Importadditiontaxes
    description: Importadditiontaxes
  - name: Importfees
    description: Importfees
  - name: Imports
    description: Imports
  - name: Incompleteopenings
    description: Incompleteopenings
  - name: Installmentplans
    description: Installmentplans
  - name: Installments
    description: Installments
  - name: Integrationconfigs
    description: Integrationconfigs
  - name: Integrationexports
    description: Integrationexports
  - name: Integrationoptions
    description: Integrationoptions
  - name: Integrationresponses
    description: Integrationresponses
  - name: Integrations
    description: Integrations
  - name: Integrationstatus
    description: Integrationstatus
  - name: Integrationtypes
    description: Integrationtypes
  - name: Integrationvendors
    description: Integrationvendors
  - name: Invoiceevents
    description: Invoiceevents
  - name: Invoicefixes
    description: Invoicefixes
  - name: Invoiceitems
    description: Invoiceitems
  - name: Invoicepayments
    description: Invoicepayments
  - name: Invoices
    description: Invoices
  - name: Invoicetypes
    description: Invoicetypes
  - name: Ips
    description: Ips
  - name: Isclassifications
    description: Isclassifications
  - name: Issituations
    description: Issituations
  - name: Issuers
    description: Issuers
  - name: Kanbanconfigs
    description: Kanbanconfigs
  - name: Kanbanitems
    description: Kanbanitems
  - name: Kanbanlanes
    description: Kanbanlanes
  - name: Kanbanlanetypes
    description: Kanbanlanetypes
  - name: Kanbanmenuactions
    description: Kanbanmenuactions
  - name: Kanbanmenuitems
    description: Kanbanmenuitems
  - name: Kanbans
    description: Kanbans
  - name: Kardexes
    description: Kardexes
  - name: Keyboardpayments
    description: Keyboardpayments
  - name: Keyboards
    description: Keyboards
  - name: Labeljobs
    description: Labeljobs
  - name: Labels
    description: Labels
  - name: Leadreasons
    description: Leadreasons
  - name: Leads
    description: Leads
  - name: Leadstages
    description: Leadstages
  - name: Leadstatuses
    description: Leadstatuses
  - name: Leadtimes
    description: Leadtimes
  - name: Locationlabels
    description: Locationlabels
  - name: Logout
    description: Logout
  - name: Logs
    description: Logs
  - name: Loyaltycustomers
    description: Loyaltycustomers
  - name: Loyaltyprograms
    description: Loyaltyprograms
  - name: Menu
    description: Menu
  - name: Menuitems
    description: Menuitems
  - name: Menureports
    description: Menureports
  - name: Metrics
    description: Metrics
  - name: Metricseries
    description: Metricseries
  - name: Modules
    description: Modules
  - name: Monthlysales
    description: Monthlysales
  - name: Movements
    description: Movements
  - name: Myplans
    description: Myplans
  - name: Nfes
    description: Nfes
  - name: Notificationconfigs
    description: Notificationconfigs
  - name: Notifications
    description: Notifications
  - name: Operationconfigs
    description: Operationconfigs
  - name: Operations
    description: Operations
  - name: Order5929
    description: Order5929
  - name: Ordercheckitems
    description: Ordercheckitems
  - name: Orderflags
    description: Orderflags
  - name: Orderflows
    description: Orderflows
  - name: Orderimport
    description: Orderimport
  - name: Orderintegrations
    description: Orderintegrations
  - name: Orderitems
    description: Orderitems
  - name: Orderlabels
    description: Orderlabels
  - name: Ordermargins
    description: Ordermargins
  - name: Ordernotes
    description: Ordernotes
  - name: Orderobjects
    description: Orderobjects
  - name: Orderorigins
    description: Orderorigins
  - name: Orderpatches
    description: Orderpatches
  - name: Orderpaymentlists
    description: Orderpaymentlists
  - name: Orderpayments
    description: Orderpayments
  - name: Orders
    description: Orders
  - name: Orderstatus
    description: Orderstatus
  - name: Ordertags
    description: Ordertags
  - name: Ordertrackings
    description: Ordertrackings
  - name: Ordervolumes
    description: Ordervolumes
  - name: Overdues
    description: Overdues
  - name: Packages
    description: Packages
  - name: Parameters
    description: Parameters
  - name: Payablefees
    description: Payablefees
  - name: Payables
    description: Payables
  - name: Payablesaggs
    description: Payablesaggs
  - name: Payforecasts
    description: Payforecasts
  - name: Paymentcodes
    description: Paymentcodes
  - name: Paymentlinks
    description: Paymentlinks
  - name: Paymentlinkstatus
    description: Paymentlinkstatus
  - name: Paymenttypes
    description: Paymenttypes
  - name: Pdflayouts
    description: Pdflayouts
  - name: Pdvparameters
    description: Pdvparameters
  - name: Personmargins
    description: Personmargins
  - name: Personproducts
    description: Personproducts
  - name: Personprofiles
    description: Personprofiles
  - name: Persons
    description: Persons
  - name: Phases
    description: Phases
  - name: Phonetypes
    description: Phonetypes
  - name: Pickingqueues
    description: Pickingqueues
  - name: Pickingzones
    description: Pickingzones
  - name: Pixcharges
    description: Pixcharges
  - name: Pixstatuses
    description: Pixstatuses
  - name: Planpaymentmethods
    description: Planpaymentmethods
  - name: Plans
    description: Plans
  - name: Portfoliocustomers
    description: Portfoliocustomers
  - name: Portfolios
    description: Portfolios
  - name: Portfoliotags
    description: Portfoliotags
  - name: Poslayoutkeys
    description: Poslayoutkeys
  - name: Postalcodes
    description: Postalcodes
  - name: Posterfields
    description: Posterfields
  - name: Posterjobs
    description: Posterjobs
  - name: Posters
    description: Posters
  - name: Postersizes
    description: Postersizes
  - name: Pricelistarticles
    description: Pricelistarticles
  - name: Pricelistcategories
    description: Pricelistcategories
  - name: Pricelists
    description: Pricelists
  - name: Priceroundingrules
    description: Priceroundingrules
  - name: Pricerules
    description: Pricerules
  - name: Productcategories
    description: Productcategories
  - name: Productimages
    description: Productimages
  - name: Products
    description: Products
  - name: Producttags
    description: Producttags
  - name: Prospects
    description: Prospects
  - name: Providers
    description: Providers
  - name: Purchasecostitems
    description: Purchasecostitems
  - name: Purchasecosts
    description: Purchasecosts
  - name: Purchaseitems
    description: Purchaseitems
  - name: Purchaseitemtaxes
    description: Purchaseitemtaxes
  - name: Purchasemappings
    description: Purchasemappings
  - name: Purchasenotes
    description: Purchasenotes
  - name: Purchaseorderitems
    description: Purchaseorderitems
  - name: Purchaseorderpayments
    description: Purchaseorderpayments
  - name: Purchaseorders
    description: Purchaseorders
  - name: Purchaseordertags
    description: Purchaseordertags
  - name: Purchaseplans
    description: Purchaseplans
  - name: Purchases
    description: Purchases
  - name: Purchaseshareitems
    description: Purchaseshareitems
  - name: Purchasetags
    description: Purchasetags
  - name: Purchasetaxes
    description: Purchasetaxes
  - name: Quotes
    description: Quotes
  - name: Reasons
    description: Reasons
  - name: Receivables
    description: Receivables
  - name: Receivablesaggs
    description: Receivablesaggs
  - name: Receivableslist
    description: Receivableslist
  - name: Receptioninvoices
    description: Receptioninvoices
  - name: Receptions
    description: Receptions
  - name: Receptionskus
    description: Receptionskus
  - name: Recharges
    description: Recharges
  - name: Rep201
    description: Rep201
  - name: Rep202
    description: Rep202
  - name: Rep203
    description: Rep203
  - name: Rep301
    description: Rep301
  - name: Rep302
    description: Rep302
  - name: Rep303
    description: Rep303
  - name: Rep304
    description: Rep304
  - name: Reportrows
    description: Reportrows
  - name: Reports
    description: Reports
  - name: Requests
    description: Requests
  - name: Results
    description: Results
  - name: Revenues
    description: Revenues
  - name: Rooms
    description: Rooms
  - name: Roundprices
    description: Roundprices
  - name: Sales
    description: Sales
  - name: Salescommissions
    description: Salescommissions
  - name: Salesfunnels
    description: Salesfunnels
  - name: Salesinstallments
    description: Salesinstallments
  - name: Salesitems
    description: Salesitems
  - name: Salesmonthlypayments
    description: Salesmonthlypayments
  - name: Salespayments
    description: Salespayments
  - name: Salespaymentslist
    description: Salespaymentslist
  - name: Salespersons
    description: Salespersons
  - name: Salessummaries
    description: Salessummaries
  - name: Scaleproducts
    description: Scaleproducts
  - name: Scalesectors
    description: Scalesectors
  - name: Scmanalyses
    description: Scmanalyses
  - name: Scmanalysisitems
    description: Scmanalysisitems
  - name: Scmconfigs
    description: Scmconfigs
  - name: Scmestimates
    description: Scmestimates
  - name: Scmprojectionlogs
    description: Scmprojectionlogs
  - name: Scmskus
    description: Scmskus
  - name: Scmtags
    description: Scmtags
  - name: Seasonalconfigs
    description: Seasonalconfigs
  - name: Seasonranges
    description: Seasonranges
  - name: Sendmails
    description: Sendmails
  - name: Serviceclasses
    description: Serviceclasses
  - name: Serviceorderitems
    description: Serviceorderitems
  - name: Serviceorders
    description: Serviceorders
  - name: Services
    description: Services
  - name: Settings
    description: Settings
  - name: Shelfqueues
    description: Shelfqueues
  - name: Skuarticles
    description: Skuarticles
  - name: Skucmms
    description: Skucmms
  - name: Skucmps
    description: Skucmps
  - name: Skuconfignotes
    description: Skuconfignotes
  - name: Skuconfigs
    description: Skuconfigs
  - name: Skucontainers
    description: Skucontainers
  - name: Skucurvedetails
    description: Skucurvedetails
  - name: Skucurves
    description: Skucurves
  - name: Skudailysales
    description: Skudailysales
  - name: Skugrids
    description: Skugrids
  - name: Skugroups
    description: Skugroups
  - name: Skumonthlysales
    description: Skumonthlysales
  - name: Skuparts
    description: Skuparts
  - name: Skuprices
    description: Skuprices
  - name: Skurankings
    description: Skurankings
  - name: Skureservations
    description: Skureservations
  - name: Skus
    description: Skus
  - name: Skusales
    description: Skusales
  - name: Skustates
    description: Skustates
  - name: Skustocks
    description: Skustocks
  - name: Skutransits
    description: Skutransits
  - name: Skutrends
    description: Skutrends
  - name: Skutypes
    description: Skutypes
  - name: Slipreasons
    description: Slipreasons
  - name: Snbrackets
    description: Snbrackets
  - name: Spedblockh
    description: Spedblockh
  - name: Spedblockhcnpj
    description: Spedblockhcnpj
  - name: Spedfiles
    description: Spedfiles
  - name: States
    description: States
  - name: Status
    description: Status
  - name: Statuses
    description: Statuses
  - name: Stockdailysummaries
    description: Stockdailysummaries
  - name: Stockmovements
    description: Stockmovements
  - name: Stocksectors
    description: Stocksectors
  - name: Stocksummaries
    description: Stocksummaries
  - name: Suppliercontacts
    description: Suppliercontacts
  - name: Supplierissuers
    description: Supplierissuers
  - name: Supplieritems
    description: Supplieritems
  - name: Suppliers
    description: Suppliers
  - name: Supplyitems
    description: Supplyitems
  - name: Systeminfo
    description: Systeminfo
  - name: Systemtasks
    description: Systemtasks
  - name: Tables
    description: Tables
  - name: Tasks
    description: Tasks
  - name: Tasktypes
    description: Tasktypes
  - name: Taxcfops
    description: Taxcfops
  - name: Taxclasses
    description: Taxclasses
  - name: Taxrates
    description: Taxrates
  - name: Tenants
    description: Tenants
  - name: Timelines
    description: Timelines
  - name: Tokens
    description: Tokens
  - name: Transactions
    description: Transactions
  - name: Transfers
    description: Transfers
  - name: Units
    description: Units
  - name: Userauths
    description: Userauths
  - name: Usercompanies
    description: Usercompanies
  - name: Useremails
    description: Useremails
  - name: Usergroups
    description: Usergroups
  - name: Users
    description: Users
  - name: Vendors
    description: Vendors
  - name: Voidnumbers
    description: Voidnumbers
  - name: Vouchermodels
    description: Vouchermodels
  - name: Vouchers
    description: Vouchers
  - name: Voucherstatuses
    description: Voucherstatuses
  - name: Vouchertags
    description: Vouchertags
  - name: Vouchertypes
    description: Vouchertypes
  - name: Wacrecords
    description: Wacrecords
  - name: Wacs
    description: Wacs
  - name: Webhookcalls
    description: Webhookcalls
  - name: Whatsappchats
    description: Whatsappchats
  - name: Whatsappdevices
    description: Whatsappdevices
  - name: Whatsappmessages
    description: Whatsappmessages
  - name: Wmsaisles
    description: Wmsaisles
  - name: Wmsinfos
    description: Wmsinfos
  - name: Xmlexports
    description: Xmlexports

paths:
  /accesscards:
# filtros = FilterAccessCards
    # modelo = JSONAccessCard
    get:
      operationId: get-accesscards
      tags:
        - Accesscards
      summary: Listagem de accesscards
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaccesscard.yaml
        "400":
          description: Erro
    post:
      operationId: post-accesscards
      tags:
        - Accesscards
      summary: Cria um(a) accesscards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccesscard.yaml
  /accesscards/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accesscards
    # modelo = JSONAccessCard
    get:
      operationId: get-accesscards-id
      tags:
        - Accesscards
      summary: Busca um(a) accesscards
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonaccesscard.yaml
        "400":
          description: Erro
    put:
      operationId: put-accesscards-id
      tags:
        - Accesscards
      summary: Atualiza um(a) accesscards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-accesscards-id
      tags:
        - Accesscards
      summary: Deleta um(a) accesscards
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /accessgroups:
# filtros = FilterAccessGroups
    # modelo = JSONAccessGroup
    get:
      operationId: get-accessgroups
      tags:
        - Accessgroups
      summary: Listagem de accessgroups
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaccessgroup.yaml
        "400":
          description: Erro
    post:
      operationId: post-accessgroups
      tags:
        - Accessgroups
      summary: Cria um(a) accessgroups
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccessgroup.yaml
  /accessgroups/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accessgroups
    # modelo = JSONAccessGroup
    get:
      operationId: get-accessgroups-id
      tags:
        - Accessgroups
      summary: Busca um(a) accessgroups
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonaccessgroup.yaml
        "400":
          description: Erro
    put:
      operationId: put-accessgroups-id
      tags:
        - Accessgroups
      summary: Atualiza um(a) accessgroups
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /accounts:
# filtros = FilterAccounts
    # modelo = JSONAccount
    get:
      operationId: get-accounts
      tags:
        - Accounts
      summary: Listagem de accounts
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaccount.yaml
        "400":
          description: Erro
    post:
      operationId: post-accounts
      tags:
        - Accounts
      summary: Cria um(a) accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaccount.yaml
  /accounts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do accounts
    # modelo = JSONAccount
    get:
      operationId: get-accounts-id
      tags:
        - Accounts
      summary: Busca um(a) accounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonaccount.yaml
        "400":
          description: Erro
    put:
      operationId: put-accounts-id
      tags:
        - Accounts
      summary: Atualiza um(a) accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-accounts-id
      tags:
        - Accounts
      summary: Deleta um(a) accounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /addresses:
# filtros = FilterAddresses
    # modelo = JSONCadPesEnder
    get:
      operationId: get-addresses
      tags:
        - Addresses
      summary: Listagem de addresses
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncadpesender.yaml
        "400":
          description: Erro
    post:
      operationId: post-addresses
      tags:
        - Addresses
      summary: Cria um(a) addresses
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncadpesender.yaml
  /addresses/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do addresses
    # modelo = JSONCadPesEnder
    get:
      operationId: get-addresses-id
      tags:
        - Addresses
      summary: Busca um(a) addresses
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncadpesender.yaml
        "400":
          description: Erro
    put:
      operationId: put-addresses-id
      tags:
        - Addresses
      summary: Atualiza um(a) addresses
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-addresses-id
      tags:
        - Addresses
      summary: Deleta um(a) addresses
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /addresstypes:
# filtros = FilterAddressTypes
    # modelo = JSONAddressType
    get:
      operationId: get-addresstypes
      tags:
        - Addresstypes
      summary: Listagem de addresstypes
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonaddresstype.yaml
        "400":
          description: Erro
    post:
      operationId: post-addresstypes
      tags:
        - Addresstypes
      summary: Cria um(a) addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonaddresstype.yaml
  /addresstypes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do addresstypes
    # modelo = JSONAddressType
    get:
      operationId: get-addresstypes-id
      tags:
        - Addresstypes
      summary: Busca um(a) addresstypes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonaddresstype.yaml
        "400":
          description: Erro
    put:
      operationId: put-addresstypes-id
      tags:
        - Addresstypes
      summary: Atualiza um(a) addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-addresstypes-id
      tags:
        - Addresstypes
      summary: Deleta um(a) addresstypes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /approvals:
# filtros = FilterApprovals
    # modelo = 
    get:
      operationId: get-approvals
      tags:
        - Approvals
      summary: Listagem de approvals
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /approvals/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do approvals
    # modelo = 
    get:
      operationId: get-approvals-id
      tags:
        - Approvals
      summary: Busca um(a) approvals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /articledetails:
# filtros = FilterArticleDetails
    # modelo = JSONArticleDetail
    get:
      operationId: get-articledetails
      tags:
        - Articledetails
      summary: Listagem de articledetails
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonarticledetail.yaml
        "400":
          description: Erro
    post:
      operationId: post-articledetails
      tags:
        - Articledetails
      summary: Cria um(a) articledetails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonarticledetail.yaml
  /articledetails/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do articledetails
    # modelo = JSONArticleDetail
    get:
      operationId: get-articledetails-id
      tags:
        - Articledetails
      summary: Busca um(a) articledetails
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonarticledetail.yaml
        "400":
          description: Erro
    put:
      operationId: put-articledetails-id
      tags:
        - Articledetails
      summary: Atualiza um(a) articledetails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-articledetails-id
      tags:
        - Articledetails
      summary: Deleta um(a) articledetails
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /auditlogs:
# filtros = FilterAuditLogs
    # modelo = 
    get:
      operationId: get-auditlogs
      tags:
        - Auditlogs
      summary: Listagem de auditlogs
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /bankaccounts:
# filtros = FilterBankAccounts
    # modelo = JSONBankAccount
    get:
      operationId: get-bankaccounts
      tags:
        - Bankaccounts
      summary: Listagem de bankaccounts
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbankaccount.yaml
        "400":
          description: Erro
    post:
      operationId: post-bankaccounts
      tags:
        - Bankaccounts
      summary: Cria um(a) bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankaccount.yaml
  /bankaccounts/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankaccounts
    # modelo = JSONBankAccount
    get:
      operationId: get-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Busca um(a) bankaccounts
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbankaccount.yaml
        "400":
          description: Erro
    delete:
      operationId: delete-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Deleta um(a) bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-bankaccounts-id
      tags:
        - Bankaccounts
      summary: Atualiza um(a) bankaccounts
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /bankcollections:
# filtros = FilterBankCollections
    # modelo = JSONBankCollection
    get:
      operationId: get-bankcollections
      tags:
        - Bankcollections
      summary: Listagem de bankcollections
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbankcollection.yaml
        "400":
          description: Erro
    post:
      operationId: post-bankcollections
      tags:
        - Bankcollections
      summary: Cria um(a) bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankcollection.yaml
  /bankcollections/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankcollections
    # modelo = JSONBankCollection
    get:
      operationId: get-bankcollections-id
      tags:
        - Bankcollections
      summary: Busca um(a) bankcollections
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbankcollection.yaml
        "400":
          description: Erro
    put:
      operationId: put-bankcollections-id
      tags:
        - Bankcollections
      summary: Atualiza um(a) bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bankcollections-id
      tags:
        - Bankcollections
      summary: Deleta um(a) bankcollections
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /banks:
# filtros = FilterBanks
    # modelo = 
    get:
      operationId: get-banks
      tags:
        - Banks
      summary: Listagem de banks
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /bankstatements:
# filtros = FilterBankStatements
    # modelo = JSONBankStatement
    get:
      operationId: get-bankstatements
      tags:
        - Bankstatements
      summary: Listagem de bankstatements
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbankstatement.yaml
        "400":
          description: Erro
    post:
      operationId: post-bankstatements
      tags:
        - Bankstatements
      summary: Cria um(a) bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbankstatement.yaml
  /bankstatements/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bankstatements
    # modelo = JSONBankStatement
    get:
      operationId: get-bankstatements-id
      tags:
        - Bankstatements
      summary: Busca um(a) bankstatements
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbankstatement.yaml
        "400":
          description: Erro
    delete:
      operationId: delete-bankstatements-id
      tags:
        - Bankstatements
      summary: Deleta um(a) bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-bankstatements-id
      tags:
        - Bankstatements
      summary: Atualiza um(a) bankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /bankstatsums:
# filtros = FilterBankStatSums
    # modelo = 
    get:
      operationId: get-bankstatsums
      tags:
        - Bankstatsums
      summary: Listagem de bankstatsums
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /barcodes:
# filtros = FilterBarcodes
    # modelo = JSONBarcode
    get:
      operationId: get-barcodes
      tags:
        - Barcodes
      summary: Listagem de barcodes
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbarcode.yaml
        "400":
          description: Erro
    post:
      operationId: post-barcodes
      tags:
        - Barcodes
      summary: Cria um(a) barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbarcode.yaml
  /barcodes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do barcodes
    # modelo = JSONBarcode
    get:
      operationId: get-barcodes-id
      tags:
        - Barcodes
      summary: Busca um(a) barcodes
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbarcode.yaml
        "400":
          description: Erro
    put:
      operationId: put-barcodes-id
      tags:
        - Barcodes
      summary: Atualiza um(a) barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-barcodes-id
      tags:
        - Barcodes
      summary: Deleta um(a) barcodes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /baseactivities:
# filtros = Filterbaseactivities
    # modelo = JSONBaseActivity
    get:
      operationId: get-baseactivities
      tags:
        - Baseactivities
      summary: Listagem de baseactivities
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbaseactivity.yaml
        "400":
          description: Erro
    post:
      operationId: post-baseactivities
      tags:
        - Baseactivities
      summary: Cria um(a) baseactivities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbaseactivity.yaml
  /baseactivities/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do baseactivities
    # modelo = JSONBaseActivity
    get:
      operationId: get-baseactivities-id
      tags:
        - Baseactivities
      summary: Busca um(a) baseactivities
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbaseactivity.yaml
        "400":
          description: Erro
    put:
      operationId: put-baseactivities-id
      tags:
        - Baseactivities
      summary: Atualiza um(a) baseactivities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /baseprocesses:
# filtros = FilterBaseProcesses
    # modelo = 
    get:
      operationId: get-baseprocesses
      tags:
        - Baseprocesses
      summary: Listagem de baseprocesses
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /batches:
# filtros = FilterBatches
    # modelo = 
    post:
      operationId: post-batches
      tags:
        - Batches
      summary: Cria um(a) batches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    get:
      operationId: get-batches
      tags:
        - Batches
      summary: Listagem de batches
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /batches/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do batches
    # modelo = 
    get:
      operationId: get-batches-id
      tags:
        - Batches
      summary: Busca um(a) batches
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /billings:
# filtros = FilterBillings
    # modelo = JSONBilling
    get:
      operationId: get-billings
      tags:
        - Billings
      summary: Listagem de billings
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbilling.yaml
        "400":
          description: Erro
  /billings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do billings
    # modelo = JSONBilling
    get:
      operationId: get-billings-id
      tags:
        - Billings
      summary: Busca um(a) billings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbilling.yaml
        "400":
          description: Erro
    put:
      operationId: put-billings-id
      tags:
        - Billings
      summary: Atualiza um(a) billings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /billingstatements:
# filtros = FilterBillingStatements
    # modelo = 
    get:
      operationId: get-billingstatements
      tags:
        - Billingstatements
      summary: Listagem de billingstatements
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /billingstatements/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do billingstatements
    # modelo = 
    get:
      operationId: get-billingstatements-id
      tags:
        - Billingstatements
      summary: Busca um(a) billingstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /bizhours:
# filtros = FilterBizHours
    # modelo = JSONBizHour
    get:
      operationId: get-bizhours
      tags:
        - Bizhours
      summary: Listagem de bizhours
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbizhour.yaml
        "400":
          description: Erro
    post:
      operationId: post-bizhours
      tags:
        - Bizhours
      summary: Cria um(a) bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbizhour.yaml
  /bizhours/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bizhours
    # modelo = JSONBizHour
    get:
      operationId: get-bizhours-id
      tags:
        - Bizhours
      summary: Busca um(a) bizhours
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbizhour.yaml
        "400":
          description: Erro
    put:
      operationId: put-bizhours-id
      tags:
        - Bizhours
      summary: Atualiza um(a) bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bizhours-id
      tags:
        - Bizhours
      summary: Deleta um(a) bizhours
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /bizschedules:
# filtros = FilterBizSchedules
    # modelo = JSONBizSchedule
    get:
      operationId: get-bizschedules
      tags:
        - Bizschedules
      summary: Listagem de bizschedules
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbizschedule.yaml
        "400":
          description: Erro
    post:
      operationId: post-bizschedules
      tags:
        - Bizschedules
      summary: Cria um(a) bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbizschedule.yaml
  /bizschedules/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do bizschedules
    # modelo = JSONBizSchedule
    get:
      operationId: get-bizschedules-id
      tags:
        - Bizschedules
      summary: Busca um(a) bizschedules
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbizschedule.yaml
        "400":
          description: Erro
    put:
      operationId: put-bizschedules-id
      tags:
        - Bizschedules
      summary: Atualiza um(a) bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-bizschedules-id
      tags:
        - Bizschedules
      summary: Deleta um(a) bizschedules
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /boletocommands:
    # modelo = 
    get:
      operationId: get-boletocommands
      tags:
        - Boletocommands
      summary: Listagem de boletocommands
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /boletos:
# filtros = FilterBoletos
    # modelo = JSONBoleto
    get:
      operationId: get-boletos
      tags:
        - Boletos
      summary: Listagem de boletos
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonboleto.yaml
        "400":
          description: Erro
  /boletos/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do boletos
    # modelo = JSONBoleto
    get:
      operationId: get-boletos-id
      tags:
        - Boletos
      summary: Busca um(a) boletos
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonboleto.yaml
        "400":
          description: Erro
    put:
      operationId: put-boletos-id
      tags:
        - Boletos
      summary: Atualiza um(a) boletos
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-boletos-id
      tags:
        - Boletos
      summary: Deleta um(a) boletos
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /brands:
# filtros = FilterBrands
    # modelo = JSONBrand
    get:
      operationId: get-brands
      tags:
        - Brands
      summary: Listagem de brands
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbrand.yaml
        "400":
          description: Erro
    post:
      operationId: post-brands
      tags:
        - Brands
      summary: Cria um(a) brands
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbrand.yaml
  /brands/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do brands
    # modelo = JSONBrand
    get:
      operationId: get-brands-id
      tags:
        - Brands
      summary: Busca um(a) brands
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbrand.yaml
        "400":
          description: Erro
    put:
      operationId: put-brands-id
      tags:
        - Brands
      summary: Atualiza um(a) brands
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-brands-id
      tags:
        - Brands
      summary: Deleta um(a) brands
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /buildings:
# filtros = FilterBuildings
    # modelo = JSONBuilding
    get:
      operationId: get-buildings
      tags:
        - Buildings
      summary: Listagem de buildings
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbuilding.yaml
        "400":
          description: Erro
    post:
      operationId: post-buildings
      tags:
        - Buildings
      summary: Cria um(a) buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbuilding.yaml
  /buildings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do buildings
    # modelo = JSONBuilding
    get:
      operationId: get-buildings-id
      tags:
        - Buildings
      summary: Busca um(a) buildings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbuilding.yaml
        "400":
          description: Erro
    put:
      operationId: put-buildings-id
      tags:
        - Buildings
      summary: Atualiza um(a) buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-buildings-id
      tags:
        - Buildings
      summary: Deleta um(a) buildings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /bulkbankstatements:
    # modelo = JSONBulkBankStatements
    post:
      operationId: post-bulkbankstatements
      tags:
        - Bulkbankstatements
      summary: Cria um(a) bulkbankstatements
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkbankstatements.yaml
  /bulkdeals:
    # modelo = JSONBulkDeals
    post:
      operationId: post-bulkdeals
      tags:
        - Bulkdeals
      summary: Cria um(a) bulkdeals
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkdeals.yaml
  /bulkhandlings:
    # modelo = JSONBulkOrders
    post:
      operationId: post-bulkhandlings
      tags:
        - Bulkhandlings
      summary: Cria um(a) bulkhandlings
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkorders.yaml
  /bulkinvoicepayments:
    # modelo = JSONBulkInvoicePayments
    post:
      operationId: post-bulkinvoicepayments
      tags:
        - Bulkinvoicepayments
      summary: Cria um(a) bulkinvoicepayments
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkinvoicepayments.yaml
  /bulkpersons:
    # modelo = JSONBulkPersons
    post:
      operationId: post-bulkpersons
      tags:
        - Bulkpersons
      summary: Cria um(a) bulkpersons
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkpersons.yaml
  /bulkpurchases:
    # modelo = JSONBulkPurchases
    post:
      operationId: post-bulkpurchases
      tags:
        - Bulkpurchases
      summary: Cria um(a) bulkpurchases
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkpurchases.yaml
  /bulkreceivables:
    # modelo = JSONBulkReceivables
    post:
      operationId: post-bulkreceivables
      tags:
        - Bulkreceivables
      summary: Cria um(a) bulkreceivables
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkreceivables.yaml
  /bulksalesitems:
    # modelo = JSONBulkSalesItems
    post:
      operationId: post-bulksalesitems
      tags:
        - Bulksalesitems
      summary: Cria um(a) bulksalesitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulksalesitems.yaml
  /bulkskuconfigs:
    # modelo = JSONBulkSkuConfigs
    post:
      operationId: post-bulkskuconfigs
      tags:
        - Bulkskuconfigs
      summary: Cria um(a) bulkskuconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkskuconfigs.yaml
  /bulkstocks:
    # modelo = JSONBulkStocks
    post:
      operationId: post-bulkstocks
      tags:
        - Bulkstocks
      summary: Cria um(a) bulkstocks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkstocks.yaml
  /bulkvouchers:
    # modelo = JSONBulkVouchers
    post:
      operationId: post-bulkvouchers
      tags:
        - Bulkvouchers
      summary: Cria um(a) bulkvouchers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbulkvouchers.yaml
  /buyers:
# filtros = FilterBuyers
    # modelo = JSONBuyer
    get:
      operationId: get-buyers
      tags:
        - Buyers
      summary: Listagem de buyers
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbuyer.yaml
        "400":
          description: Erro
    post:
      operationId: post-buyers
      tags:
        - Buyers
      summary: Cria um(a) buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonbuyer.yaml
  /buyers/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do buyers
    # modelo = JSONBuyer
    get:
      operationId: get-buyers-id
      tags:
        - Buyers
      summary: Busca um(a) buyers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbuyer.yaml
        "400":
          description: Erro
    put:
      operationId: put-buyers-id
      tags:
        - Buyers
      summary: Atualiza um(a) buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-buyers-id
      tags:
        - Buyers
      summary: Deleta um(a) buyers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cachetables:
    # modelo = 
    post:
      operationId: post-cachetables
      tags:
        - Cachetables
      summary: Cria um(a) cachetables
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /campaignitems:
# filtros = FilterCampaignItems
    # modelo = JSONCampItem
    get:
      operationId: get-campaignitems
      tags:
        - Campaignitems
      summary: Listagem de campaignitems
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncampitem.yaml
        "400":
          description: Erro
    post:
      operationId: post-campaignitems
      tags:
        - Campaignitems
      summary: Cria um(a) campaignitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncampitem.yaml
  /campaignitems/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do campaignitems
    # modelo = JSONCampItem
    get:
      operationId: get-campaignitems-id
      tags:
        - Campaignitems
      summary: Busca um(a) campaignitems
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncampitem.yaml
        "400":
          description: Erro
    put:
      operationId: put-campaignitems-id
      tags:
        - Campaignitems
      summary: Atualiza um(a) campaignitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-campaignitems-id
      tags:
        - Campaignitems
      summary: Deleta um(a) campaignitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /campaigns:
# filtros = FilterCampaigns
    # modelo = JSONCampaign
    get:
      operationId: get-campaigns
      tags:
        - Campaigns
      summary: Listagem de campaigns
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncampaign.yaml
        "400":
          description: Erro
    post:
      operationId: post-campaigns
      tags:
        - Campaigns
      summary: Cria um(a) campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncampaign.yaml
  /campaigns/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do campaigns
    # modelo = JSONCampaign
    get:
      operationId: get-campaigns-id
      tags:
        - Campaigns
      summary: Busca um(a) campaigns
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncampaign.yaml
        "400":
          description: Erro
    put:
      operationId: put-campaigns-id
      tags:
        - Campaigns
      summary: Atualiza um(a) campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-campaigns-id
      tags:
        - Campaigns
      summary: Deleta um(a) campaigns
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /carriers:
# filtros = FilterCarriers
    # modelo = JSONCarrier
    get:
      operationId: get-carriers
      tags:
        - Carriers
      summary: Listagem de carriers
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncarrier.yaml
        "400":
          description: Erro
    post:
      operationId: post-carriers
      tags:
        - Carriers
      summary: Cria um(a) carriers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncarrier.yaml
  /carriers/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do carriers
    # modelo = JSONCarrier
    get:
      operationId: get-carriers-id
      tags:
        - Carriers
      summary: Busca um(a) carriers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncarrier.yaml
        "400":
          description: Erro
    put:
      operationId: put-carriers-id
      tags:
        - Carriers
      summary: Atualiza um(a) carriers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-carriers-id
      tags:
        - Carriers
      summary: Deleta um(a) carriers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cashbalanceadjustments:
    # modelo = JSONCashBalanceAdjustment
    post:
      operationId: post-cashbalanceadjustments
      tags:
        - Cashbalanceadjustments
      summary: Cria um(a) cashbalanceadjustments
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncashbalanceadjustment.yaml
  /cashbalances:
# filtros = FilterCashBalances
    # modelo = JSONCashBalance
    get:
      operationId: get-cashbalances
      tags:
        - Cashbalances
      summary: Listagem de cashbalances
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncashbalance.yaml
        "400":
          description: Erro
    post:
      operationId: post-cashbalances
      tags:
        - Cashbalances
      summary: Cria um(a) cashbalances
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncashbalance.yaml
  /cashbalances/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cashbalances
    # modelo = JSONCashBalance
    get:
      operationId: get-cashbalances-id
      tags:
        - Cashbalances
      summary: Busca um(a) cashbalances
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncashbalance.yaml
        "400":
          description: Erro
    put:
      operationId: put-cashbalances-id
      tags:
        - Cashbalances
      summary: Atualiza um(a) cashbalances
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-cashbalances-id
      tags:
        - Cashbalances
      summary: Deleta um(a) cashbalances
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cashiers:
# filtros = FilterCashiers
    # modelo = TabelaPontoVenda
    get:
      operationId: get-cashiers
      tags:
        - Cashiers
      summary: Listagem de cashiers
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/tabelapontovenda.yaml
        "400":
          description: Erro
    post:
      operationId: post-cashiers
      tags:
        - Cashiers
      summary: Cria um(a) cashiers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/tabelapontovenda.yaml
  /cashiers/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cashiers
    # modelo = TabelaPontoVenda
    get:
      operationId: get-cashiers-id
      tags:
        - Cashiers
      summary: Busca um(a) cashiers
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/tabelapontovenda.yaml
        "400":
          description: Erro
    put:
      operationId: put-cashiers-id
      tags:
        - Cashiers
      summary: Atualiza um(a) cashiers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-cashiers-id
      tags:
        - Cashiers
      summary: Deleta um(a) cashiers
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cashierstats:
# filtros = FilterCashierStats
    # modelo = 
    get:
      operationId: get-cashierstats
      tags:
        - Cashierstats
      summary: Listagem de cashierstats
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cashierstats/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cashierstats
    # modelo = 
    get:
      operationId: get-cashierstats-id
      tags:
        - Cashierstats
      summary: Busca um(a) cashierstats
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cataloglevels:
# filtros = FilterCatalogLevels
    # modelo = 
    get:
      operationId: get-cataloglevels
      tags:
        - Cataloglevels
      summary: Listagem de cataloglevels
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /catalogs:
# filtros = FilterCatalogs
    # modelo = JSONCatalogs
    get:
      operationId: get-catalogs
      tags:
        - Catalogs
      summary: Listagem de catalogs
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncatalogs.yaml
        "400":
          description: Erro
    post:
      operationId: post-catalogs
      tags:
        - Catalogs
      summary: Cria um(a) catalogs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncatalogs.yaml
  /catalogs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do catalogs
    # modelo = JSONCatalogs
    get:
      operationId: get-catalogs-id
      tags:
        - Catalogs
      summary: Busca um(a) catalogs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncatalogs.yaml
        "400":
          description: Erro
    put:
      operationId: put-catalogs-id
      tags:
        - Catalogs
      summary: Atualiza um(a) catalogs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-catalogs-id
      tags:
        - Catalogs
      summary: Deleta um(a) catalogs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /categories:
# filtros = FilterCategories
    # modelo = JSONCategory
    get:
      operationId: get-categories
      tags:
        - Categories
      summary: Listagem de categories
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncategory.yaml
        "400":
          description: Erro
    post:
      operationId: post-categories
      tags:
        - Categories
      summary: Cria um(a) categories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncategory.yaml
  /categories/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do categories
    # modelo = JSONCategory
    get:
      operationId: get-categories-id
      tags:
        - Categories
      summary: Busca um(a) categories
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncategory.yaml
        "400":
          description: Erro
    put:
      operationId: put-categories-id
      tags:
        - Categories
      summary: Atualiza um(a) categories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-categories-id
      tags:
        - Categories
      summary: Deleta um(a) categories
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /categorylinkitems/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do categorylinkitems
    # modelo = 
    delete:
      operationId: delete-categorylinkitems-id
      tags:
        - Categorylinkitems
      summary: Deleta um(a) categorylinkitems
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /categorylinks:
# filtros = FilterCategoryLinks
    # modelo = JSONCategoryLink
    get:
      operationId: get-categorylinks
      tags:
        - Categorylinks
      summary: Listagem de categorylinks
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncategorylink.yaml
        "400":
          description: Erro
    post:
      operationId: post-categorylinks
      tags:
        - Categorylinks
      summary: Cria um(a) categorylinks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncategorylink.yaml
  /categorylinks/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do categorylinks
    # modelo = JSONCategoryLink
    get:
      operationId: get-categorylinks-id
      tags:
        - Categorylinks
      summary: Busca um(a) categorylinks
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncategorylink.yaml
        "400":
          description: Erro
    put:
      operationId: put-categorylinks-id
      tags:
        - Categorylinks
      summary: Atualiza um(a) categorylinks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-categorylinks-id
      tags:
        - Categorylinks
      summary: Deleta um(a) categorylinks
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cbenefs:
# filtros = FilterCbenefs
    # modelo = JSONCbenef
    get:
      operationId: get-cbenefs
      tags:
        - Cbenefs
      summary: Listagem de cbenefs
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncbenef.yaml
        "400":
          description: Erro
    post:
      operationId: post-cbenefs
      tags:
        - Cbenefs
      summary: Cria um(a) cbenefs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncbenef.yaml
  /cbenefs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cbenefs
    # modelo = JSONCbenef
    get:
      operationId: get-cbenefs-id
      tags:
        - Cbenefs
      summary: Busca um(a) cbenefs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncbenef.yaml
        "400":
          description: Erro
    put:
      operationId: put-cbenefs-id
      tags:
        - Cbenefs
      summary: Atualiza um(a) cbenefs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-cbenefs-id
      tags:
        - Cbenefs
      summary: Deleta um(a) cbenefs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /certificates:
# filtros = FilterCertificates
    # modelo = JSONCertificado
    get:
      operationId: get-certificates
      tags:
        - Certificates
      summary: Listagem de certificates
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncertificado.yaml
        "400":
          description: Erro
    post:
      operationId: post-certificates
      tags:
        - Certificates
      summary: Cria um(a) certificates
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncertificado.yaml
  /certificates/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do certificates
    # modelo = JSONCertificado
    get:
      operationId: get-certificates-id
      tags:
        - Certificates
      summary: Busca um(a) certificates
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsoncertificado.yaml
        "400":
          description: Erro
    put:
      operationId: put-certificates-id
      tags:
        - Certificates
      summary: Atualiza um(a) certificates
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /channelfreights:
# filtros = FilterChannelFreights
    # modelo = JSONChannelFreight
    get:
      operationId: get-channelfreights
      tags:
        - Channelfreights
      summary: Listagem de channelfreights
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonchannelfreight.yaml
        "400":
          description: Erro
    post:
      operationId: post-channelfreights
      tags:
        - Channelfreights
      summary: Cria um(a) channelfreights
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchannelfreight.yaml
  /channelfreights/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do channelfreights
    # modelo = JSONChannelFreight
    get:
      operationId: get-channelfreights-id
      tags:
        - Channelfreights
      summary: Busca um(a) channelfreights
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonchannelfreight.yaml
        "400":
          description: Erro
    delete:
      operationId: delete-channelfreights-id
      tags:
        - Channelfreights
      summary: Deleta um(a) channelfreights
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    put:
      operationId: put-channelfreights-id
      tags:
        - Channelfreights
      summary: Atualiza um(a) channelfreights
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /channelpriceconfigs:
# filtros = FilterChannelPriceConfigs
    # modelo = JSONChannelPriceConfigs
    get:
      operationId: get-channelpriceconfigs
      tags:
        - Channelpriceconfigs
      summary: Listagem de channelpriceconfigs
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonchannelpriceconfigs.yaml
        "400":
          description: Erro
    post:
      operationId: post-channelpriceconfigs
      tags:
        - Channelpriceconfigs
      summary: Cria um(a) channelpriceconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchannelpriceconfigs.yaml
  /channelpriceconfigs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do channelpriceconfigs
    # modelo = JSONChannelPriceConfigs
    get:
      operationId: get-channelpriceconfigs-id
      tags:
        - Channelpriceconfigs
      summary: Busca um(a) channelpriceconfigs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonchannelpriceconfigs.yaml
        "400":
          description: Erro
    put:
      operationId: put-channelpriceconfigs-id
      tags:
        - Channelpriceconfigs
      summary: Atualiza um(a) channelpriceconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-channelpriceconfigs-id
      tags:
        - Channelpriceconfigs
      summary: Deleta um(a) channelpriceconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /channels:
# filtros = FilterChannels
    # modelo = JSONChannel
    get:
      operationId: get-channels
      tags:
        - Channels
      summary: Listagem de channels
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonchannel.yaml
        "400":
          description: Erro
    post:
      operationId: post-channels
      tags:
        - Channels
      summary: Cria um(a) channels
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchannel.yaml
  /channels/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do channels
    # modelo = JSONChannel
    get:
      operationId: get-channels-id
      tags:
        - Channels
      summary: Busca um(a) channels
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonchannel.yaml
        "400":
          description: Erro
    put:
      operationId: put-channels-id
      tags:
        - Channels
      summary: Atualiza um(a) channels
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-channels-id
      tags:
        - Channels
      summary: Deleta um(a) channels
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /chartconfigs:
# filtros = FilterChartConfigs
    # modelo = JSONChartConfig
    get:
      operationId: get-chartconfigs
      tags:
        - Chartconfigs
      summary: Listagem de chartconfigs
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonchartconfig.yaml
        "400":
          description: Erro
    post:
      operationId: post-chartconfigs
      tags:
        - Chartconfigs
      summary: Cria um(a) chartconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsonchartconfig.yaml
  /chartconfigs/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do chartconfigs
    # modelo = JSONChartConfig
    get:
      operationId: get-chartconfigs-id
      tags:
        - Chartconfigs
      summary: Busca um(a) chartconfigs
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonchartconfig.yaml
        "400":
          description: Erro
    put:
      operationId: put-chartconfigs-id
      tags:
        - Chartconfigs
      summary: Atualiza um(a) chartconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
    delete:
      operationId: delete-chartconfigs-id
      tags:
        - Chartconfigs
      summary: Deleta um(a) chartconfigs
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /charts:
    # modelo = 
    get:
      operationId: get-charts
      tags:
        - Charts
      summary: Listagem de charts
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cities:
# filtros = FilterCities
    # modelo = 
    get:
      operationId: get-cities
      tags:
        - Cities
      summary: Listagem de cities
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cities/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do cities
    # modelo = 
    get:
      operationId: get-cities-id
      tags:
        - Cities
      summary: Busca um(a) cities
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /citydistricts:
# filtros = FilterCityDistricts
    # modelo = 
    get:
      operationId: get-citydistricts
      tags:
        - Citydistricts
      summary: Listagem de citydistricts
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /citytaxes:
# filtros = FilterCityTaxes
    # modelo = 
    get:
      operationId: get-citytaxes
      tags:
        - Citytaxes
      summary: Listagem de citytaxes
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /closings:
# filtros = FilterClosings
    # modelo = JSONBulkClosing
    get:
      operationId: get-closings
      tags:
        - Closings
      summary: Listagem de closings
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsonbulkclosing.yaml
        "400":
          description: Erro
  /closings/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
        description: ID do closings
    # modelo = JSONBulkClosing
    get:
      operationId: get-closings-id
      tags:
        - Closings
      summary: Busca um(a) closings
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                $ref: ./models/jsonbulkclosing.yaml
        "400":
          description: Erro
  /cmmfs:
# filtros = FilterCmmfs
    # modelo = 
    get:
      operationId: get-cmmfs
      tags:
        - Cmmfs
      summary: Listagem de cmmfs
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
        "400":
          description: Erro
  /cnaes:
# filtros = FilterCnaes
    # modelo = JSONCnae
    get:
      operationId: get-cnaes
      tags:
        - Cnaes
      summary: Listagem de cnaes
      parameters:
        - $ref: "#/components/parameters/Range"
        - $ref: "#/components/parameters/Sort"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: ./models/jsoncnae.yaml
        "400":
          description: Erro
    post:
      operationId: post-cnaes
      tags:
        - Cnaes
      summary: Cria um(a) cnaes
      responses:
        "200":
          description: OK
        "400":
          description: Erro
      requestBody:
        content:
          application/json:
            schema:
              $ref: ./models/jsoncnae.yaml
  /cnaes/{id}:
    parameters:
      - schema:
          type: string
        name: id
        in: path
        required: true
[...]
